/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

a,
span {
  display: inline-block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #191919;
  background-color: #f5f5f5;
}
body.no-scroll {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.list {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  position: relative;
}
.list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -32px;
  border-radius: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #c73731;
}
.list.no-style .list-item::before {
  display: none;
}

.breadcrumb {
  padding-bottom: 30px;
}
.breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 2px;
}
.breadcrumb-list img {
  margin-right: 7px;
}
.breadcrumb-link {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #8e8c8c;
  transition: all 0.2s linear;
}
.breadcrumb-link:hover, .breadcrumb-link.active {
  color: #dc6969;
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 67.2px;
  color: #191919;
}

.sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-sm {
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  margin-bottom: 60px;
}

.btn,
.white-btn {
  padding: 14px 16px;
  border-radius: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  border: 1px solid #3d3d3d;
  color: #3d3d3d;
  transition: all 0.3s linear;
  text-align: center;
  box-sizing: border-box;
}
.btn:hover,
.white-btn:hover {
  background-color: #c73731;
  color: #fff;
  border-color: #c73731;
}

.white-btn {
  border-color: #fff;
  color: #fff;
}
.white-btn:hover {
  background: #a8241e;
}

.accordions {
  display: flex;
  flex-direction: column;
}

.accordion {
  padding: 20px 0px;
  border-bottom: 1px solid #dcdbdb;
}
.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordion-header.active .accordion-header__btn span:first-child {
  display: none;
}
.accordion-header__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: #c73731;
}
.accordion-header__btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.accordion-header__btn span {
  position: absolute;
  background: #c73731;
}
.accordion-header__btn span:first-child {
  width: 3px;
  height: 100%;
}
.accordion-header__btn span:last-child {
  width: 100%;
  height: 3px;
}
.accordion-content {
  padding-top: 40px;
  display: none;
}
.accordion-content.show {
  display: block;
}
.accordion-content__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.accordion-list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
.accordion-list__item img {
  width: 11px;
  height: 11px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 2%, 0.302);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal.show {
  display: flex;
}
.modal-content {
  max-width: 1169px;
  width: 100%;
  background: #fff;
  border-radius: 11px;
  position: relative;
}
.modal-content .modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
}
.modal .swiper {
  margin: 66px 145px 85px 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .swiper-wrapper {
  align-items: center;
}
.modal .swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.modal-swiper__prev-btn {
  left: 43px;
}
.modal-swiper__next-btn {
  right: 35px;
}
.modal-cards {
  display: flex;
  align-items: stretch;
  gap: 30px;
  align-items: center;
}
.modal .line {
  border: 1px solid #eeeeee;
  height: 341px;
}
.modal-card {
  min-width: 270px;
  max-width: 270px;
  width: 100%;
}
.modal-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.modal-card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: #191919;
}
.modal-card__number {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.78px;
  color: #c73731;
}
.modal-card__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
}
.modal-card__img {
  width: 100%;
  border-radius: 5px;
  height: 179px;
}
.modal-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-info__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.09px;
  color: #000;
  margin-bottom: 10px;
}
.modal-info__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #000;
}

.header {
  padding-top: 20px;
}
.header-logo {
  width: 94px;
  height: 55px;
}
.header-logo__img {
  width: 100%;
  height: 100%;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav-list {
  display: flex;
  gap: 83px;
}
.header .nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #191919;
  transition: color 0.3s ease;
}
.header .nav-link:hover {
  color: #c73731;
}
.header-right__box {
  display: flex;
  align-items: center;
  gap: 75px;
}
.header .contact-btn {
  font-size: 14px;
  line-height: 16.41px;
  border: 2px solid #191919;
  padding: 10px 50px;
  border-radius: 26px;
  color: #191919;
  transition: all 0.3s ease;
}
.header .contact-btn:hover {
  background-color: #c73731;
  color: #ffffff;
  border-color: #c73731;
}

.footer {
  background-color: #fff;
  padding: 88px 0 22px 0;
}
.footer-top {
  padding-bottom: 50px;
  border-bottom: 1px solid #dcdbdb;
  display: flex;
  align-items: start;
  gap: 102px;
}
.footer-logo {
  margin-right: 15px;
}
.footer-left__box {
  display: flex;
  align-items: start;
  gap: 75px;
  width: 100%;
}
.footer-right__box {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.footer-right__box .footer-list {
  gap: 20px;
}
.footer-right__box .footer-list:last-child {
  margin-left: auto;
}
.footer-box__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  margin-bottom: 15px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-list.phone-list {
  padding-left: 9px;
  white-space: nowrap;
}
.footer .line {
  height: 1px;
  background: #dcdbdb;
  width: 100%;
}
.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #191919;
  transition: color 0.2s linear;
}
.footer-link:hover, .footer-link.active {
  color: #c73731;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.footer .social-media {
  display: flex;
  gap: 24px;
}
.footer .social-media__img {
  width: 31px;
  height: 31px;
}

.intro {
  margin: 101px auto 294px auto;
  z-index: 1;
}
.intro .container {
  position: relative;
}
.intro-map {
  position: absolute;
  top: 100px;
  right: -212px;
  width: 856.57px;
  height: 494px;
  z-index: -1;
}
.intro-map__img {
  width: 100%;
  height: 100%;
}
.intro-content {
  max-width: 1052px;
}
.intro-content__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 89.6px;
}
.intro .company-info__list {
  margin: 60px 0;
  max-width: 698px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.intro .company-info__list-item {
  display: flex;
  align-items: start;
  gap: 30px;
}
.intro .company-info__list-item img {
  padding-top: 8px;
}
.intro .company-info__list-text {
  font-size: 24px;
  line-height: 33.6px;
}

.our-services .title-box {
  border-bottom: 1px solid #dcdbdb;
  padding-bottom: 30px;
  margin-bottom: 62px;
}
.our-services .swiper-btns {
  justify-content: end;
  width: 100%;
}
.our-services .swiper-wrapper {
  align-items: stretch;
  margin-top: 30px;
}
.our-services .swiper-slide {
  min-height: 346px !important;
  position: relative;
  padding-bottom: 234px;
  overflow: hidden;
  border-radius: 10px;
}
.our-services__card {
  height: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 13.9px 0px rgba(157, 156, 156, 0.2509803922);
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.our-services__card:hover .our-services__card-back {
  top: 0;
}
.our-services__card-img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.our-services__card .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115px;
  padding: 0 30px;
}
.our-services__card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: center;
}
.our-services__card-back {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 2;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 13.9px 0px rgba(157, 156, 156, 0.2509803922);
  overflow: hidden;
  height: 100%;
  transform-origin: top;
  transition: all 0.3s ease;
  height: fit-content;
}
.our-services__card-back-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: #c73731;
}
.our-services__card-back .card-header {
  padding: 30px 30px 25px 20px;
  border-bottom: 1px solid #c73731;
}
.our-services__card-back .card-body {
  padding: 25px 12px 25px 30px;
}
.our-services__card-back .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 40px 28px 30px;
}
.our-services__card-back .card-number {
  font-size: 32px;
  font-weight: 300;
  line-height: 37.5px;
  color: #8e8c8c;
}

.exploration-countries__swiper {
  margin: 60px 0 47px 0;
}
.exploration-countries__swiper .swiper-slide {
  height: unset !important;
}
.exploration-countries__card {
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exploration-countries__card-img {
  width: 100%;
  height: 225px;
}
.exploration-countries__card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: center;
  padding: 25px 32px;
  color: #c73731;
  border-bottom: 1px solid #c73731;
  text-transform: uppercase;
}
.exploration-countries__card .desc {
  padding: 25px 12px 33px 30px;
}
.exploration-countries__card .card-footer {
  padding: 0 22px 25px 22px;
}
.exploration-countries__card .btn {
  width: 100%;
}
.exploration-countries .world-locations {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}
.exploration-countries .world-locations__map {
  width: 567px;
  height: 327px;
}
.exploration-countries .world-locations__map-img {
  width: 100%;
  height: 100%;
}
.exploration-countries .world-locations .accordions {
  max-width: 470px;
  width: 100%;
}

.market-research {
  padding: 120px 0 154px 0;
}
.market-research__cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 60px;
}
.market-research .desc-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.market-research__card-info {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}
.market-research__card.left {
  max-width: 572px;
}
.market-research__card.right {
  max-width: 480px;
  height: 275px;
}
.market-research__card.right .market-research__card-img {
  width: 100%;
  height: 100%;
}
.market-research__stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
  gap: 78px;
  text-align: center;
  margin: 30px 0 120px 0;
}
.market-research__stat-item {
  background: url(../../images/globs.png) no-repeat;
  background-size: 189px 189px;
  background-position: top center;
  padding-top: 57px;
}
.market-research__stat-number {
  font-size: 48px;
  font-weight: 700;
  line-height: 56.25px;
  color: #c73731;
}
.market-research__stat-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 37.5px;
  padding-bottom: 30px;
}
.market-research__stat-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
}
.market-research .expert-profile {
  display: flex;
  justify-content: space-between;
}
.market-research .expert-profile__photo {
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 511px;
}
.market-research .expert-profile__photo img {
  width: 100%;
  height: 100%;
}
.market-research .expert-profile__description {
  max-width: 705px;
}
.market-research .expert-profile .list {
  margin-left: 40px;
}

.our-values__cards {
  display: flex;
  gap: 31px;
  margin-top: 60px;
}
.our-values__card {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 30px 20px;
  border-radius: 10px;
  min-width: 269px;
  max-width: 269px;
}
.our-values__card-header {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}
.our-values__card-number {
  padding: 5px 15px;
  border-radius: 10px;
  background: #e24e47;
}
.our-values__card-number span {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  line-height: 23.44px;
  text-align: center;
}
.our-values__card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #e24e47;
}
.our-values__card .desc {
  line-height: 22px;
}

.market-analysis {
  padding: 120px 0;
}
.market-analysis__container {
  box-shadow: 0px 0px 11.2px 0px rgba(221, 221, 221, 0.2509803922);
  background-color: #fff;
  display: flex;
  align-items: stretch;
  max-width: 1547px;
}
.market-analysis__content {
  background: #c73731;
  padding: 90px 65px 89px 10px;
  max-width: 954px;
  width: 100%;
}
.market-analysis__content-info {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  color: #fff;
  max-width: 426px;
  margin-left: auto;
}
.market-analysis__slider {
  width: calc(100% - 954px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.market-analysis__swiper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 406px;
}
.market-analysis__swiper-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  margin-bottom: 15px;
}
.market-analysis .swiper-btns {
  margin: 0 auto;
}
.market-analysis .btn {
  width: 100%;
}

.global-market__box {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.global-market__img {
  max-width: 363px;
  width: 100%;
}
.global-market__list {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.global-market__list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  display: flex;
  align-items: start;
  gap: 22px;
}
.global-market__list-item img {
  padding-top: 7px;
}

.market-challenges {
  padding: 120px 0 100px 0;
}
.market-challenges__swiper {
  position: relative;
  padding: 60px;
}
.market-challenges .swiper-scrollbar {
  top: 0;
}
.market-challenges .title {
  margin-bottom: 60px;
}
.market-challenges .business-analytics {
  display: flex;
  align-items: stretch;
}
.market-challenges .business-analytics__image img {
  width: 100%;
  height: 100%;
}
.market-challenges .business-analytics > div {
  width: 50%;
}
.market-challenges .business-analytics__text {
  background: #c73731;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.market-challenges .business-analytics__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: #fbfafa;
  max-width: 390px;
}

.market-entry-benefits__boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
}
.market-entry-benefits .accordions {
  max-width: 569px;
}
.market-entry-benefits__logo {
  height: 620px;
  max-width: 360px;
  width: 100%;
  opacity: 0.2;
}
.market-entry-benefits__logo-img {
  width: 100%;
  height: 100%;
}

.consultation-invite {
  padding: 120px 0;
}
.consultation-invite__boxes {
  max-width: 1541px;
  margin-top: 60px;
  display: flex;
  align-items: stretch;
  gap: 16px;
  justify-content: space-between;
}
.consultation-invite__boxes .register-form {
  background-color: #c73731;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 875px;
  width: 100%;
  padding: 100px;
  color: #fff;
  border-radius: 0 20px 20px 0;
}
.consultation-invite__boxes .register-form__info {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  margin-bottom: 55px;
}
.consultation-invite__boxes .register-form__content {
  max-width: 400px;
  margin-left: auto;
  text-align: center;
}
.consultation-invite__boxes .register-form .btn {
  width: 100%;
}
.consultation-invite__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 566px;
}
.consultation-invite__list-item {
  display: flex;
  align-items: center;
  gap: 27px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}

.cooperation-process .title {
  margin-bottom: 110px;
}
.cooperation-process__box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  min-height: 170px;
}
.cooperation-process__box:last-child {
  min-height: fit-content;
}
.cooperation-process__box:last-child .process {
  background: transparent;
}
.cooperation-process__box-title {
  font-size: 24px;
  font-weight: 500;
  max-width: 350px;
  min-width: 350px;
  line-height: 28.13px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.cooperation-process__box-title:hover {
  color: #c73731;
}
.cooperation-process__box-title:hover + .process .circle {
  width: 38px;
  height: 38px;
}
.cooperation-process__box-title:hover + .process .circle::before {
  width: 15px;
  height: 15px;
}
.cooperation-process__box-desc {
  max-width: 604px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}
.cooperation-process .process {
  background: url(../images/line.png) no-repeat;
  background-size: 3px;
  position: relative;
  z-index: 1;
  background-position: center;
  width: 38px;
}
.cooperation-process .circle {
  border: 1px solid #c73731;
  border-radius: 50%;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  top: 0;
  z-index: 2;
  transition: all 0.1s linear;
}
.cooperation-process .circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #c73731;
  border-radius: 50%;
}

.client-results {
  padding: 120px 0;
}
.client-results__swiper {
  margin-top: 60px;
}
.client-results__swiper .swiper-wrapper {
  align-items: stretch;
}
.client-results__swiper .swiper-slide {
  height: unset !important;
  overflow: hidden;
  border-radius: 10px;
}
.client-results__card {
  height: 100%;
  padding: 31px 17px 44px 17px;
  background: #fff;
  border-radius: 10px;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.client-results__card:hover {
  box-shadow: 0px 4px 8.1px 0px rgba(170, 170, 170, 0.2509803922);
  border-color: #dcdbdb;
}
.client-results__card-img {
  border-radius: 10px;
  width: 100%;
  height: 156px;
  object-fit: cover;
}
.client-results__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 20px 0;
}
.client-results__card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
}
.client-results__card-number {
  font-size: 22px;
  font-weight: 500;
  line-height: 25.78px;
  color: #c73731;
}
.client-results__card-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}

.market-research-beneficiaries__cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 60px;
}
.market-research-beneficiaries__card {
  width: 333px;
}
.market-research-beneficiaries__card-top {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #b0b0b0;
  margin-bottom: 15px;
  min-height: 300px;
}
.market-research-beneficiaries__card-img {
  width: 220px;
  height: 150px;
  object-fit: cover;
}
.market-research-beneficiaries__card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 30px;
}
.market-research-beneficiaries__card-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.market-research-beneficiaries__card-list-item {
  display: flex;
  align-items: center;
  gap: 27px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.reviews {
  padding: 120px 0;
}

.our-clients {
  margin-bottom: 120px;
}
.our-clients__boxes {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 43px;
}
.our-clients__logo-box {
  width: 174px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-clients__logo-box:first-child img {
  width: 79px;
  height: 79px;
}
.our-clients__logo-box img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.2s linear;
}
.our-clients__logo-box:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

.contact-us {
  max-width: 1613px;
}
.contact-us__cards {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.contact-us .social-media {
  display: flex;
  gap: 23px;
}
.contact-us .social-media__img {
  width: 40px;
  height: 40px;
}
.contact-us__card {
  max-width: 945px;
  width: 100%;
  background-color: #c73731;
  min-height: 430px;
  padding: 60px 109px 60px 60px;
}
.contact-us__card .content {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
  margin-left: auto;
}
.contact-us__card .content .link-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us__card-title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
}
.contact-us__card-tel {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #fff;
}
.contact-us__card-email {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #fff;
}
.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 470px;
  margin-left: auto;
}
.contact-us__form-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  text-align: center;
  color: #8e8c8c;
}
.contact-us__form input {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #8e8c8c;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #b0b0b0;
  outline: none;
  background: transparent;
}
.contact-us__form input::placeholder {
  color: #8e8c8c;
}
.contact-us__form .btn {
  border-color: #c73731;
  color: #c73731;
}
.contact-us__form .btn:hover {
  color: #fff;
}

.faq-section {
  padding: 108px 0 120px 0;
}
.faq-section .accordions {
  margin-top: 60px;
}
.faq-section .accordion {
  gap: 0;
}
.faq-section .accordion-content {
  padding-top: 30px;
  padding-left: 30px;
}
.faq-section .accordion-content__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 892px;
}
.faq-section .accordion-header {
  padding-left: 30px;
}
.faq-section .accordion-header.active {
  padding-bottom: 30px;
  border-bottom: 1px solid #dcdbdb;
}

.articles {
  padding-bottom: 140px;
}
.articles-swiper {
  margin-top: 60px;
  padding-top: 50px;
}
.articles .swiper-wrapper {
  align-items: stretch;
}
.articles .swiper-slide {
  height: unset !important;
}
.articles-swiper__scrollbar {
  top: 0 !important;
}
.articles-card {
  background-color: #fff;
  box-shadow: 0px 0px 11.9px 0px rgba(207, 203, 203, 0.2509803922);
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
}
.articles-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 16px;
  min-height: 56%;
}
.articles-card__content > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles-card .heart-btn {
  display: flex;
  align-items: center;
}
.articles-card__img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  height: 198px;
}
.articles-card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #c73731;
}
.articles-card__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  color: #8e8c8c;
  margin: 10px 0 20px 0;
}
.articles-card__footer {
  display: flex;
  align-items: center;
  gap: 30px;
}
.articles-card__footer > div {
  display: flex;
  align-items: center;
  gap: 7px;
}
.articles-card__footer .count {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  color: #9c9c9c;
}

.united-states__page .intro-content__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 67.2px;
  text-align: left;
}
.united-states__page .intro-content__title span {
  color: #4581c7;
}
.united-states__page .intro .company-info__list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}
.united-states__page .intro .company-info__list-item {
  gap: 22px;
  align-items: center;
}
.united-states__page .intro .company-info__list-item img {
  padding-top: 0;
}
.united-states__page .intro .company-info__list {
  gap: 30px;
  margin: 0;
}
.united-states__page .intro {
  margin-bottom: 200px;
}
.united-states__page .intro-content {
  max-width: 768px;
  width: 100%;
  padding-top: 76px;
}
.united-states__page .intro-img__box {
  position: absolute;
  right: -73px;
  top: 0;
  width: 480px;
  height: 434px;
}
.united-states__page .intro-img__box img {
  width: 100%;
  height: 100%;
}
.united-states__page .intro .bottom-content {
  display: flex;
  align-items: start;
  gap: 30px;
  margin-top: 60px;
}
.united-states__page .intro .btn {
  width: 399px;
  background: #c73731;
  color: #dcdbdb;
  border-color: transparent;
}
.united-states__page .market-research {
  padding: 0;
}
.united-states__page .market-research .expert-profile {
  gap: 128px;
}
.united-states__page .market-analysis .title {
  margin-bottom: 60px;
}
.united-states__page .expert-profile__photo {
  min-width: 343px;
  height: 410px;
  position: relative;
  overflow: visible;
}
.united-states__page .expert-profile__photo .quote-box {
  max-width: 344px;
  border-radius: 15px;
  position: absolute;
  bottom: -133px;
  right: -104px;
  backdrop-filter: blur(8.1000003815px);
  box-shadow: 0px 0px 9.8px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 20px 26px 22px 25px;
  background: rgba(255, 255, 255, 0.9294117647);
}
.united-states__page .expert-profile__photo .quote-box__icon {
  width: 26px;
  height: 24px;
}
.united-states__page .expert-profile__photo .quote-box__desc {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #3d3d3d;
}
.united-states__page .expert-profile__photo .author {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  display: block;
  text-align: right;
}
.united-states__page .market-analysis__container {
  max-width: 100%;
}
.united-states__page .market-analysis__content {
  width: 100%;
  padding: 0;
}
.united-states__page .market-analysis__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.united-states__page .market-analysis__slider {
  width: 100%;
  background: #c73731;
  color: #fff;
}
.united-states__page .market-analysis__slider .desc {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: center;
}
.united-states__page .market-analysis__slider .swiper-btn path {
  stroke: #dcdbdb !important;
}
.united-states__page .swiper-numbers .swiper-pagination span {
  color: #fff;
}
.united-states__page .swiper-numbers .swiper-pagination .swiper-pagination-total {
  color: rgba(251, 250, 250, 0.5019607843);
}
.united-states__page .consultation-invite {
  padding-bottom: 0;
}
.united-states__page .consultation-invite__boxes {
  align-items: center;
}
.united-states__page .faq-section .accordion-header__title {
  color: #191919;
}
.united-states__page .faq-section .accordion-header.active .accordion-header__title {
  color: #c73731;
}

.business-registration-info {
  padding-bottom: 120px;
}
.business-registration-info__cards {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.business-registration-info .listes {
  max-width: 720px;
  width: 100%;
}
.business-registration-info .left-box {
  display: flex;
  align-items: center;
  gap: 25px;
}
.business-registration-info .left-box span {
  font-size: 20px;
  color: #191919;
  font-weight: 500;
  line-height: 30px;
  width: 335px;
}
.business-registration-info__boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.business-registration-info .box {
  display: flex;
  align-items: center;
  gap: 88px;
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #b0b0b0;
}
.business-registration-info .right-box {
  max-width: 300px;
}
.business-registration-info .right-box .box {
  border: none;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}
.business-registration-info .right-box .desc {
  padding-left: 52px;
}

.swiper-btns {
  display: flex;
  align-items: center;
  gap: 33px;
}
.swiper-btns .swiper-btn path {
  stroke: #c73731;
}
.swiper-btns .swiper-button-disabled {
  cursor: auto;
}
.swiper-btns .swiper-button-disabled path {
  stroke: #dcdbdb;
}
.swiper-btns.black-btns path {
  stroke: #191919;
}
.swiper-btns.black-btns .swiper-button-disabled path {
  stroke: #b0b0b0 !important;
}
.swiper-btns.black-btns.swiper-button-disabled {
  background: red !important;
}

.swiper-numbers .swiper-pagination {
  position: unset;
}
.swiper-numbers .swiper-pagination span {
  font-size: 32px;
  font-weight: 300;
  line-height: 37.5px;
  color: #191919;
}
.swiper-numbers .swiper-pagination .swiper-pagination-total {
  color: #dcdbdb;
}

.swiper-scrollbar {
  height: 2px;
  background: #dcdbdb;
}

.swiper-scrollbar-drag {
  background: #c73731;
}

/*# sourceMappingURL=main.css.map */
