@media screen and (max-width: 1440px) {
  .market-analysis__content {
    max-width: 705px;
  }
  .market-analysis__container,
  .consultation-invite__boxes {
    max-width: 1300px;
  }
  .market-analysis__slider {
    width: 100%;
  }
  .consultation-invite__boxes .register-form {
    max-width: 635px;
  }
  .consultation-invite__list {
    justify-content: center;
  }
  .contact-us__card {
    max-width: 635px;
  }
  .contact-us__cards {
    padding-right: 75px;
  }
  .market-analysis__slider {
    max-width: calc(100% - 700px);
  }
  .global-market__list {
    max-width: 373px;
    gap: 0;
    margin-top: 39px;
    &:first-child {
      .global-market__list-item:nth-child(2) {
        margin: 58px 0 41px 0;
      }
    }
    &:last-child {
      .global-market__list-item:nth-child(2) {
        margin: 33px 0 41px 0;
      }
    }
  }
  .global-market__box {
    align-items: start;
  }
  .global-market__img {
    margin-left: 0;
  }
  .global-market__list-item img {
    padding: 0;
    width: 16px;
    height: 27px;
    margin-top: 4px;
  }
  .market-challenges .business-analytics .business-analytics__image {
    width: 51%;
  }
  .market-challenges .business-analytics {
    height: 379px;
  }
  .market-challenges .business-analytics__desc {
    margin-left: 17px;
  }
  .market-challenges {
    padding-bottom: 100px;
  }
  .cooperation-process__box:nth-child(2) {
    min-height: 129px;
  }
  .client-results__swiper {
    margin-top: 55px;
  }
  .market-research-beneficiaries__card {
    min-width: 340px;
  }
  .market-research-beneficiaries
    .market-research-beneficiaries__card-list-item
    img {
    width: 17px;
    height: 19px;
    margin-top: 5px;
  }
  .market-research-beneficiaries__card-list {
    width: 101%;
  }
  .contact-us {
    max-width: 1377px;
  }
  .contact-us__form-title {
    margin-left: 16px;
  }
  .footer-left__box .flex-box {
    gap: 76px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
  .market-research .desc-box {
    max-width: 572px;
  }
  .our-values {
    .container {
      padding-right: 0;
    }
  }
  .market-analysis__container,
  .consultation-invite__boxes {
    max-width: 1225px;
    margin-right: 50px;
  }
  .global-market__box {
    gap: 10px;
  }
  .cooperation-process__box-title {
    min-width: 340px;
    max-width: 340px;
  }
  .footer-top {
    gap: 79px;
  }
  .footer-right__box .footer-list:last-child {
    max-width: 244px;
  }
  .articles-card__content {
    padding: 16px 14px;
  }
  .market-research-beneficiaries__cards {
    gap: 25px;
  }
  .footer-left__box {
    gap: 91px;
    img {
      margin-top: 4px;
      margin-left: 4px;
    }
  }
  .footer-left__box .flex-box {
    gap: 72px;
  }
  .article-four__page .left-box {
    max-width: 610px;
  }
  .header {
    padding-top: 24px;
  }
  .our-services .title-box .sub-title {
    padding: 10px 0 0 77px;
  }
  .our-services .title-box .btn {
    margin-top: 9px;
  }
  .our-services .title-box {
    padding-bottom: 24px;
  }
  .our-services__card-back .card-header {
    padding: 30px 16px 24px 36px;
  }
  .our-services__card-back .card-body {
    padding: 25px 14px 21px 36px;
  }
  .our-services__card-back .card-footer {
    padding: 7px 36px 28px 35px;
  }
  .our-services .swiper-wrapper {
    margin-top: 28px;
  }
  .market-analysis__content {
    max-width: 621px;
  }
  .market-analysis__swiper {
    width: 100%;
    padding: 34px 0 18px 127px;
  }
  .market-analysis .swiper-numbers {
    padding-left: 8px;
  }
  .market-analysis__swiper .desc {
    margin-top: 18px;
  }
  .market-challenges {
    padding-bottom: 120px;
  }
  .market-entry-benefits .accordion-list__item {
    min-height: 31px;
  }
  .market-entry-benefits .accordions {
    .accordion:first-child {
      padding-bottom: 36px;
    }
  }
  .consultation-invite__boxes .register-form {
    max-width: 555px;
    padding: 82px 100px 89px 20px;
  }
  .consultation-invite__list {
    max-width: 569px;
  }
  .cooperation-process .process {
    margin-right: 34px;
  }
  .cooperation-process__box:nth-child(4) {
    min-height: 179px;
  }
  .cooperation-process__box:nth-child(5) {
    min-height: 175px;
  }
  .client-results {
    padding: 115px 0 103px 0;
  }
  .client-results__swiper {
    margin-top: 60px;
  }
  .client-results__card-img {
    border-radius: 5px;
  }
  .market-research-beneficiaries__card-top::after {
    bottom: 5px;
    height: 1px;
  }
  .market-research-beneficiaries__cards {
    margin-top: 57px;
  }
  .market-research-beneficiaries__card-title {
    margin-top: 26px;
  }
  .our-clients {
    margin: 120px 0 127px 0;
  }
  .contact-us__card {
    max-width: 556px;
  }
  .contact-us__cards {
    margin-top: 60px;
  }
  .contact-us__cards {
    padding-right: 55px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 75px;
    padding-right: 75px;
  }
  .exploration-countries {
    margin-top: 40px;
  }
  .header-right__box {
    position: fixed;
    background: #f5f5f5;
    z-index: 999;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0;
    padding-top: 270px;
    overflow-y: auto;
    padding-bottom: 191px;
    transition: all 0.2s linear;
    &.show {
      left: 0;
    }

    .close-menu {
      position: absolute;
      top: 35px;
      right: 73px;
      display: block;
    }
    .nav-list {
      flex-direction: column;
      gap: 30px;
    }
    .nav-link {
      font-family: 'Manrope', 'Roboto', sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 43.71px;
    }
  }
  .header {
    .open-menu__btn {
      display: block;
      width: 31px;
      height: 18px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .media-block__box {
      display: flex;
      flex-direction: column;
      gap: 62px;
      margin-top: 227px;
    }
    .search-box {
      height: 56px;
      width: 330px;
      position: relative;
      .search-icon {
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translateY(-50%);
      }
      input {
        border: 1px solid #b5b5b5;
        border-radius: 47px;
        background: transparent;
        padding: 10px;
        height: 100%;
        width: 100%;
        padding: 10px 20px;
      }
    }
    .contact-btn {
      display: none;
    }
    .social-media {
      display: flex;
      gap: 23px;
      justify-content: center;
      a {
        width: 51.34px;
        height: 51.34px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .intro-content__title {
    font-size: 54px;
    font-weight: 500;
    line-height: 75.6px;
  }
  .intro .company-info__list-text {
    font-size: 24px;
    line-height: 31.2px;
  }
  .intro .company-info__list-item img {
    width: 15px;
    height: 14px;
    padding-top: 0;
    margin-top: 4px;
  }
  .intro .company-info__list-item {
    gap: 22px;
  }
  .intro-map {
    right: 0;
    opacity: 0.5;
  }
  .intro .red-btn {
    max-width: 399px;
  }
  .intro .company-info__list {
    margin: 60px 0 80px 0;
  }
  .intro {
    margin-top: 156px;
    margin-bottom: 313px;
  }
  .our-services .title-box .btn {
    margin-top: 0;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 215px;
  }
  .our-services {
    .container {
      padding-left: 73px;
      padding-right: 78px;
    }
    .title-box {
      border: none;
    }
    .title-box .media-block {
      padding: 0;
      max-width: 294px;
      br {
        display: none;
      }
    }
    .title-box {
      align-items: end;
      margin-bottom: 40px;
      .media-block {
        display: block;
        margin-top: 25px;
      }
      .media-none {
        display: none;
      }
    }
    .btn {
      height: 47px;
      .media-block {
        display: block;
        margin: 0;
        padding: 0 39px;
      }
      .media-hide__text {
        display: none;
      }
    }
  }
  .our-services .swiper-wrapper {
    margin-top: 0;
    padding-top: 33px;
  }
  .our-services .swiper-scrollbar {
    display: block;
    top: -10px;
    bottom: unset;
  }
  .our-services .swiper-btns {
    display: none;
  }
  .our-services__card-back .card-header {
    padding: 30px 20px;
  }
  .our-services__card-back-title {
    font-size: 20px;
    line-height: 24px;
  }
  .our-services__card-back .card-body {
    padding: 30px 29px 16px 20px;
  }
  .our-services__card-back .card-footer {
    padding: 4px 25px 30px 32px;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .our-services__card-back .card-number {
    font-size: 24px;
    line-height: 28px;
  }
  .title {
    font-size: 36px;
    line-height: 50.4px;
  }
  .exploration-countries {
    .title-box {
      .swiper-btns {
        display: none;
      }
    }
  }
  .exploration-countries__swiper {
    margin: 50px 0 20px 0;
  }
  .exploration-countries .world-locations {
    flex-direction: column;
    gap: 0;
  }
  .exploration-countries .accordion-content__list .accordion-list:last-child {
    margin-right: 25px;
  }
  .title-sm {
    font-size: 28px;
    line-height: 39.2px;
  }
  .exploration-countries .world-locations__map {
    min-width: 567px;
    margin-top: 3px;
  }
  .exploration-countries .world-locations .accordions {
    max-width: 100%;
  }
  .accordion-content {
    padding-top: 37px;
  }
  .accordion-list {
    gap: 10px;
  }
  .market-research__cards {
    flex-direction: column;
    margin-top: 44px;
    gap: 30px;
  }
  .market-research__stat-item {
    padding-top: 45px;
  }
  .market-research__stat-description {
    max-width: 233px;
  }
  .title-sm {
    margin-bottom: 50px;
  }
  .market-research__card.right {
    order: -1;
    max-width: 100%;
    width: 100%;
    height: 328px;
  }
  .market-research__card.left,
  .market-research .desc-box {
    max-width: 100%;
    width: 100%;
    gap: 15px;
  }
  .market-research {
    padding: 104px 0 110px 0;
    .title-sm {
      margin-bottom: 0;
      br {
        display: none;
      }
    }
  }
  .exploration-countries .accordion {
    padding: 20px 0;
  }
  .market-research__stats {
    margin: 50px 0 120px 0;
    gap: 70px;
    row-gap: 61px;
  }
  .market-research__stat-title {
    font-size: 28px;
    line-height: 32.81px;
  }
  .market-research .expert-profile {
    flex-direction: column;
  }

  .market-research .expert-profile__photo {
    max-width: 343px;
    min-width: 343px;
    height: 410px;
    margin: 0 auto 160px 89px;
    object-fit: cover;
  }
  .market-research .expert-profile__description {
    .title-sm {
      font-size: 28px;
      line-height: 39.2px;
      margin-bottom: 50px;
    }
  }
  .market-research .expert-profile__description .title-sm {
    width: 99%;
  }
  .market-research .expert-profile .list {
    margin-left: 0;
  }
  .our-values__cards {
    margin-top: 49px;
  }
  .our-values .container {
    padding-left: 79px;
  }
  .our-values__cards {
    gap: 28px;
  }
  .market-analysis {
    padding: 100px 0;
  }
  .market-analysis__container {
    flex-direction: column;
    margin-left: 50px;
  }
  .market-analysis__content {
    max-width: 100%;
  }
  .market-analysis__content-info {
    margin: 0 auto 0 45px;
  }
  .market-analysis__slider {
    max-width: 100%;
  }
  .market-analysis__content {
    padding: 50px 40px 83px 40px;
  }
  .market-analysis {
    .title-sm {
      font-size: 28px;
      line-height: 39.2px;
    }
  }
  .market-analysis__swiper {
    padding: 40px 26px 50px 81px;
    gap: 35px;
  }
  .market-analysis__swiper-title {
    max-width: 87%;
    margin-bottom: 10px;
  }
  .market-analysis .swiper-btns {
    margin-left: 128px;
    gap: 59px;
    margin-top: -19px;
  }
  .global-market__box {
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-top: 50px;
  }
  .global-market__list {
    gap: 30px;
  }
  .global-market__img {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }
  .market-challenges {
    padding: 100px 0;
  }
  .market-challenges .business-analytics {
    flex-direction: column;
    & > div {
      width: 100%;
    }
    .business-analytics__image {
      height: 352px;
      img {
        object-fit: cover;
      }
    }
  }
  .market-challenges .business-analytics__text {
    padding: 50px 38px 50px 38px;
    text-align: center;
  }
  .market-challenges .business-analytics__desc {
    font-size: 20px;
    line-height: 28px;
  }
  .market-entry-benefits .accordions {
    max-width: 100%;
    width: 100%;
  }
  .market-entry-benefits__logo {
    display: none;
  }
  .market-entry-benefits {
    .title {
      font-size: 36px;
      line-height: 50.4px;
    }
  }
  .consultation-invite {
    padding: 100px 0;
  }
  .consultation-invite__boxes .register-form {
    padding: 75px 14px 83px 20px;
    min-width: 354px;
  }
  .consultation-invite__list-item {
    font-size: 16px;
    line-height: 22.4px;
  }
  .consultation-invite__list {
    gap: 15px;
  }
  .consultation-invite__boxes .register-form__info {
    margin-bottom: 40px;
  }
  .consultation-invite__boxes .register-form .btn {
    width: 245px;
  }
  .cooperation-process__box .cooperation-process__box-title {
    display: none;
    &.media-block {
      margin-bottom: 20px;
      display: block;
      max-width: 100%;
    }
  }
  .cooperation-process__box .desc-box {
    padding-left: 70px;
  }
  .cooperation-process__box-desc {
    max-width: 100%;
  }
  .cooperation-process__box {
    min-height: 230px;
  }
  .market-research-beneficiaries__cards {
    margin-top: 50px;
  }
  .market-research-beneficiaries__cards {
    gap: 80px;
  }
  .our-clients {
    margin: 100px 0;
  }
  .contact-us {
    .contact-us__cards {
      gap: 28px;
    }
    .contact-us__form {
      width: 50%;
      max-width: 100%;
      padding: 50px 30px;
    }
    .contact-us__card {
      width: 50%;
      max-width: 100%;
    }
  }
  .intro .container {
    padding-left: 75px;
  }
  .intro .company-info__list {
    margin: 63px 0 78px 0;
    gap: 30px;
    max-width: 515px;
  }
  .intro-map__img {
    display: none;
  }
  .intro .table-map {
    display: block;
  }
  .intro-map {
    top: 120px;
    width: 722.57px;
    opacity: 1;
  }
  .articles {
    padding-bottom: 100px;
    .swiper-btns {
      display: none;
    }
    .articles-swiper {
      margin-right: -50px;
      margin-top: 40px;
      padding-top: 26px;
    }
    .swiper-slide {
      height: initial !important;
    }
  }
  .footer-top {
    flex-direction: column;
    padding-bottom: 30px;
    gap: 20px;
  }
  .footer-left__box {
    // justify-content: space-between;
    gap: 55px;
  }
  .footer .container {
    padding-top: 50px;
    padding-right: 50px;
    .top-btn {
      right: 35px;
      top: -104px;
    }
  }
  .articles-sec .container {
    flex-direction: column;
    gap: 0;
    .right-box {
      display: none;
    }
  }
  .article-four__page .left-box,
  .article-two__page .left-box {
    max-width: 100%;
  }
  .article-nav {
    margin: 30px 0;
  }
  .article-four__page .content-cards__two .card-info {
    font-size: 16px;
    line-height: 18.75px;
  }
  .article-four__page .content-cards__two .card-title {
    font-size: 24px;
    line-height: 33.6px;
    margin-top: 10px;
  }
  .article-four__page .content-cards__two .card-img {
    height: 242px;
  }
  .article-four__page .content-cards__two .card-desc {
    font-size: 16px;
    line-height: 22px;
  }
  .article-four__page .articles-four {
    margin-bottom: 50px;
  }
  .articles-sec,
  .comments-sec {
    padding-bottom: 100px;
  }
  .article-nav {
    display: none;
  }
  .article-nav__dropdown {
    display: block;
    margin: 30px 0;
  }
  .article-four__page .content-cards__two-card {
    padding: 20px;
  }
  .content-cards {
    flex-direction: column;
  }
  .articles-cards.wrap {
    gap: 30px;
  }
  .articles-cards {
    flex-direction: column;
    .card {
      max-width: 100% !important;
      gap: 30px;
      padding: 20px;
    }
  }
  .articles-cards .card-title {
    font-size: 20px;
  }
  .articles-sec__hashtag,
  .comments-sec__hashtag {
    column-gap: 15px;
    row-gap: 10px;
  }
  .article-one {
    .breadcrumb-list {
      display: none;
    }
  }
  .articles-sec__title,
  .comments-sec__title {
    font-size: 36px;
    line-height: 50.4px;
    margin: 10px 0;
  }
  .articles-sec__info,
  .comments-sec__info {
    font-size: 14px;
    line-height: 16.41px;
  }
  .articles-sec .article-box__desc,
  .comments-sec .article-box__desc,
  .articles-sec .list-item,
  .comments-sec .list-item {
    font-size: 18px;
    line-height: 25.2px;
  }
  .articles-sec .article-box__img,
  .comments-sec .article-box__img {
    height: 284px;
  }
  .articles-sec .article-box__img-two,
  .comments-sec .article-box__img-two {
    height: 423px;
  }
  .article-one {
    .exploration-countries .world-locations .accordions {
      max-width: 100%;
    }
  }
  .articles-sec .quote-box__desc,
  .comments-sec .quote-box__desc {
    font-size: 18px;
    line-height: 30.6px;
    text-indent: 20px;
  }
  .comments-sec .container {
    flex-direction: column;
    .right-box {
      display: none;
    }
  }
  .most-comfortable .accordion-header {
    grid-template-columns: 1fr;

    .media-none__box {
      display: none;
    }
    .media-none__desc {
      display: none;
    }
  }
  .most-comfortable .accordion-content__desc {
    &.media-desc {
      display: block;
    }
  }
  .most-comfortable .accordion-content .media-block__title {
    display: block;
    margin-bottom: 30px;
  }
  .most-comfortable .accordion-content .boxes {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .most-comfortable {
    padding-bottom: 80px;
  }
  .reviews {
    .swiper-btns {
      display: none;
    }
  }
  .info-bottom__content p {
    padding-top: 0;
  }
  .header-logo {
    width: 56.67px;
    height: 32.46px;
  }
  .header .container {
    padding-left: 75px;
    padding-right: 75px;
  }
  .header {
    padding-top: 22px;
  }
  .header .open-menu__btn {
    width: 33px;
    height: 22px;
  }
  .united-states__page .expert-profile__photo .quote-box {
    right: -65px;
    bottom: -138px;
  }
  .market-analysis .title-sm {
    margin-bottom: 48px;
    br {
      display: none;
    }
  }
  .market-analysis__container {
    max-width: 100%;
    margin: 0 75px;
  }
  .global-market {
    .title {
      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .articles-sec,
  .comments-sec {
    padding-bottom: 80px;
  }

  .footer-list.phone-list {
    padding-left: 0;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .title {
    font-size: 28px;
    line-height: 39.2px;
  }
  .united-states__page .business-analytics__swiper .business-analytics__text {
    padding-left: 13px;
    padding-right: 13px;
  }
  .intro-content__title {
    font-size: 32px;
    line-height: 44.8px;
    text-align: center;
  }
  .intro {
    margin-top: 108px;
  }
  .intro .company-info__list-text {
    font-size: 14px;
    line-height: 18.2px;
  }
  .intro .company-info__list {
    gap: 16px;
    margin: 85px 0;
  }
  .header-right__box {
    padding: 107px 0 157px 0;
  }
  .header-right__box .close-menu {
    top: 16px;
    right: 50px;
    width: 28px;
    height: 28px;
  }
  .header .media-block__box {
    margin-top: 115px;
  }
  .our-services .title-box {
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding-bottom: 0;
  }
  .our-services__card-back .card-header {
    padding: 20px;
  }
  .our-services__card-back-title {
    font-size: 18px;
    line-height: 21.6px;
  }
  .our-services__card-back .card-body {
    padding: 20px 15px 15px 15px;
  }
  .our-services__card-back .card-footer {
    padding: 20px;
    .desc {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .our-services .title-box .sub-title.media-block {
    margin-top: 63px;
  }
  .our-services .swiper-scrollbar {
    top: 65px;
    bottom: unset;
  }
  .our-services .title-box .sub-title.media-block {
    font-size: 14px;
    line-height: 19.6px;
    br {
      display: none;
    }
  }
  .our-services__card-img {
    height: 212px;
  }
  .exploration-countries__card-title {
    font-size: 20px;
    line-height: 23.44px;
    padding: 15px 0;
  }
  .exploration-countries__card .desc {
    font-size: 14px;
    line-height: 22.4px;
  }
  .exploration-countries__card .card-footer {
    padding-bottom: 38px;
  }
  .accordion-list__item {
    font-size: 14px;
    line-height: 22.4px;
  }
  .accordion-header__title {
    font-size: 18px;
    line-height: 21.09px;
  }
  .accordion-header__btn {
    width: 16px;
    height: 16px;
  }
  .market-research__card.right {
    height: 188px;
  }
  .title-sm {
    font-size: 22px;
    line-height: 30.8px;
    margin-bottom: 40px;
  }
  .market-research__card-info {
    font-size: 16px;
    line-height: 22.4px;
  }
  .market-research {
    padding: 80px 0;
  }
  .market-research__stats {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    margin: 40px 0 80px 0;
  }
  .market-research__stat-title {
    font-size: 32px;
    line-height: 37.5px;
  }
  .market-research__stat-item {
    padding-top: 48px;
  }
  .market-research .expert-profile__photo {
    min-width: 268px;
    max-width: 268px;
    height: 363px;
  }
  .market-research .expert-profile__description .title-sm {
    font-size: 22px;
    line-height: 30.8px;
    margin-bottom: 40px;
  }
  .market-research {
    .list-item {
      font-size: 16px;
      line-height: 22.4px;
    }
  }
  .market-analysis .title-sm {
    font-size: 22px;
    line-height: 30.8px;
  }
  .market-analysis__content-info {
    font-size: 18px;
    line-height: 25.2px;
  }
  .market-analysis__content {
    padding: 27px 20px 23px 20px;
  }
  .market-analysis__swiper {
    padding: 30px 20px 24px 20px;
  }
  .swiper-numbers .swiper-pagination span {
    font-size: 24px;
    line-height: 28.13px;
  }
  .market-analysis__swiper-title {
    font-size: 18px;
    line-height: 25.2px;
  }
  .swiper-btns .swiper-btn {
    width: 36px;
    height: 18px;
  }
  .market-analysis .swiper-btns {
    gap: 60px;
  }
  .market-analysis .btn {
    font-size: 14px;
  }
  .global-market__list-item {
    font-size: 16px;
    line-height: 22.4px;
  }
  .global-market__list,
  .global-market__box {
    gap: 20px;
  }
  .global-market__img {
    width: 268px;
    height: 269.99px;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
  .global-market__box {
    position: relative;
  }
  .market-challenges .business-analytics .business-analytics__image {
    height: 190px;
  }
  .market-challenges .business-analytics__text {
    padding: 50px 5px;
  }
  .market-challenges .business-analytics__desc {
    font-size: 16px;
    line-height: 22.4px;
  }
  .market-challenges {
    padding: 80px 0;
  }
  .market-entry-benefits .title {
    font-size: 28px;
    line-height: 39.2px;
  }
  .market-entry-benefits__boxes {
    margin-top: 33px;
  }
  .consultation-invite {
    padding: 80px 0;
  }
  .consultation-invite__boxes {
    flex-direction: column;
    padding: 0 50px;
  }
  .consultation-invite__boxes .register-form {
    max-width: 100%;
    min-width: 100%;
    background: transparent;
    padding: 40px 0 0 0;
  }
  .consultation-invite__boxes .register-form__info {
    font-size: 20px;
    line-height: 28px;
    color: #c73731;
    text-align: left;
  }
  .consultation-invite__boxes {
    margin: 0;
  }
  .consultation-invite__boxes .register-form__content {
    margin: 0;
    .btn {
      display: none;
    }
  }
  .consultation-media__btn {
    display: flex;
    margin-top: 40px;
  }
  .cooperation-process__box .desc-box {
    padding-left: 21px;
  }
  .cooperation-process__box .cooperation-process__box-title.media-block {
    font-size: 18px;
    line-height: 19.6px;
  }
  .cooperation-process__box-desc {
    font-size: 14px;
    line-height: 19.6px;
  }
  .cooperation-process .circle::before {
    width: 12px;
    height: 12px;
  }
  .cooperation-process .circle {
    width: 16px;
    height: 16px;
  }
  .cooperation-process .title {
    margin-bottom: 40px;
  }
  .client-results {
    padding: 80px 0;
  }
  .client-results__card-title {
    font-size: 20px;
    line-height: 23.44px;
  }
  .client-results__card-header {
    padding: 30px 0 10px 0;
  }
  .client-results__card-desc {
    font-size: 16px;
    line-height: 18.75px;
  }
  .client-results__swiper {
    margin-top: 40px;
    padding-top: 30px;
  }
  .client-results__swiper .swiper-scrollbar {
    display: block;
  }
  .market-research-beneficiaries__card {
    min-width: 270px;
    max-width: 270px;
  }
  .market-research-beneficiaries__cards {
    padding-right: 50px;
  }
  .market-research-beneficiaries__card-title {
    font-size: 18px;
    line-height: 25.2px;
  }
  .our-clients__boxes {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-x: auto;
    margin-right: -50px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .our-clients {
    margin: 80px 0;
  }
  .faq-section {
    padding: 80px 0;
  }
  .contact-us .contact-us__cards {
    flex-direction: column;
    padding-right: 0;
    .contact-us__card {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 50px;
    }
    & > div {
      width: 100%;
    }
    .contact-us__card .content {
      max-width: 100%;
      margin: 0;
      text-align: center;
    }
    .social-media {
      justify-content: center;
    }
    .contact-us__card-title,
    .contact-us__card-tel,
    .contact-us__card-email {
      color: #dcdbdb;
    }
  }
  .contact-us .contact-us__form {
    padding-left: 55px;
    padding-right: 55px;
  }
  .contact-us__form-title {
    font-size: 20px;
    line-height: 28px;
  }
  .faq-section {
    .accordion-header__title {
      font-size: 16px;
    }
  }
  .faq-section .accordion-content__desc {
    font-size: 14px;
    line-height: 21px;
  }
  .faq-section .accordion-content {
    padding-left: 20px;
  }
  .faq-section .accordion-header {
    padding-left: 0;
  }
  .articles-card__title {
    font-size: 14px;
    line-height: 12px;
  }
  .articles-card__content {
    gap: 10px;
    min-height: 54%;
  }
  .articles {
    padding-bottom: 80px;
  }
  .articles-swiper__scrollbar {
    width: calc(100% - 50px) !important;
  }
  .breadcrumb-link {
    font-size: 10px;
    line-height: 15px;
  }
  .breadcrumb {
    padding-bottom: 12px;
  }
  .footer-left__box {
    flex-direction: column;
    gap: 50px;
  }
  .footer-top {
    gap: 50px;
  }
  .footer-right__box {
    align-items: start;
    justify-content: space-between;
  }
  .footer {
    padding-bottom: 34px;
  }
  .footer-bottom {
    gap: 27px;
    flex-direction: column;
  }
  .footer-right__box {
    ul:last-child {
      max-width: 136px;
      .footer-link {
        font-size: 12px;
        line-height: 19.2px;
      }
    }
  }
  .footer .container .top-btn {
    display: none;
  }
  .article-nav__dropdown {
    margin: 20px 0;
  }
  .article-four__page .content-cards__two-card {
    padding: 15px;
  }
  .article-four__page .content-cards__two .card-info {
    font-size: 12px;
    line-height: 14.06px;
  }
  .article-four__page .content-cards__two .card-title {
    font-size: 20px;
    line-height: 28px;
  }
  .article-four__page .content-cards__two .card-img {
    margin: 15px 0;
    height: 160px;
  }
  .article-four__page .content-cards__two .card-desc {
    font-size: 14px;
    line-height: 19.6px;
  }
  .article-four__page .swiper-btns {
    display: none;
  }
  .article-four__page .articles-four {
    margin-bottom: 40px;
  }
  .article-four__page .show-more__btn {
    width: 270px;
  }
  .article-four__page .content-cards__two .card-footer {
    flex-direction: column;
    margin-top: 15px;
    align-items: start;
    gap: 20px;
    .articles-card__footer {
      order: -1;
      justify-content: space-between;
      width: 100%;
    }
  }
  .articles-cards.wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .content-cards.mt-60 {
    margin: 0;
    padding: 15px;
  }
  .articles-cards .card-footer {
    flex-direction: column;
    align-items: start;
  }
  .articles-cards .card-title {
    font-size: 18px;
    line-height: 22px;
  }
  .articles-cards .card-info {
    font-size: 14px;
    line-height: 18px;
  }
  .articles-cards .card.small,
  .articles-cards .card.larg {
    padding: 15px;
  }
  .articles-sec__hashtag,
  .comments-sec__hashtag {
    padding-top: 0;
  }
  .articles-sec__hashtag span,
  .comments-sec__hashtag span {
    font-size: 10px;
    line-height: 11px;
  }
  .articles-sec__title,
  .comments-sec__title {
    font-size: 28px;
    line-height: 39.2px;
  }
  .articles-sec__info,
  .comments-sec__info {
    font-size: 12px;
    line-height: 14px;
  }
  .articles-sec .article-box__desc,
  .comments-sec .article-box__desc,
  .articles-sec .list-item,
  .comments-sec .list-item {
    font-size: 14px;
    line-height: 19.6px;
  }
  .articles-sec .article-boxes,
  .comments-sec .article-boxes {
    margin-top: 55px;
    gap: 40px;
  }
  .articles-sec .article-box__img,
  .comments-sec .article-box__img {
    height: 135px;
  }
  .articles-sec .article-box__title,
  .comments-sec .article-box__title {
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 400;
  }
  .articles-sec .article-box,
  .comments-sec .article-box {
    gap: 15px;
  }
  .articles-sec .number-title,
  .comments-sec .number-title {
    font-size: 16px;
    line-height: 22px;
  }
  .articles-sec .article-box__img-two,
  .comments-sec .article-box__img-two {
    height: 191px;
  }
  .articles-sec .quote-box__desc,
  .comments-sec .quote-box__desc {
    font-size: 14px;
    line-height: 19px;
  }
  .articles-sec .article-footer h5,
  .comments-sec .article-footer h5 {
    font-size: 16px;
    line-height: 18.75px;
  }
  .articles-sec .article-footer .social-media,
  .comments-sec .article-footer .social-media {
    gap: 15px;
    margin-top: 15px;
  }
  .article-footer__box:last-child {
    text-align: right;
  }
  .comments-sec .comments-form .input-box {
    flex-direction: column;
    gap: 9px;
  }
  .comments-sec .comments-form input,
  .comments-sec .comments-form textarea {
    padding: 9px 11px 12px 11px;
    height: 35px;
    font-size: 10px;
    line-height: 14px;
  }
  .comments-sec .comments-form textarea {
    padding: 13px 11px;
    height: 115px;
  }
  .comments-sec .comments-form .blue-btn {
    width: 187px;
    padding: 0;
    height: 40px;
  }
  .comments-sec .comments-form .btns {
    gap: 10px;
    justify-content: space-between;
  }
  .comments-sec .comment-box .user-name {
    font-size: 16px;
    line-height: 27.2px;
  }
  .comments-sec .comment-box .avatar {
    min-height: 50px;
    min-width: 50px;
  }
  .comments-sec .comment-box .user-comment {
    font-size: 14px;
    line-height: 19.6px;
  }
  .comments-sec .child-comment {
    padding-left: 20px;
  }
  .accordion-content {
    padding-top: 30px;
  }
  .most-comfortable .accordion-content__desc {
    font-size: 14px;
    line-height: 21px;
  }
  .most-comfortable .title {
    margin-bottom: 50px;
  }
  .most-comfortable {
    padding-bottom: 80px;
  }
  .market-challenges .chalange-card li {
    font-size: 12px;
    line-height: 16.8px;
    max-width: 250px;
  }
  .market-challenges .title {
    margin-bottom: 40px;
  }
  .market-challenges .market-challenges__swiper-two {
    padding-top: 0;
    .swiper-scrollbar {
      display: none;
    }
  }
  .reviews-swiper__top .swiper-slide-active .logo-box,
  .reviews-swiper__top .swiper-slide .logo-box {
    width: 90px;
    height: 90px;
  }
  .reviews-swiper__bottom .swiper-desc .desc {
    font-size: 14px;
    line-height: 19.6px;
  }
  .reviews {
    padding-top: 80px;
  }
  .reviews-swiper__bottom .quote-img {
    width: 105px;
    height: 98px;
    left: -20px;
    top: 86px;
  }
  .reviews-swiper__bottom {
    padding-top: 0;
  }
  .reviews-swiper__top .swiper-slide-active::before {
    background: #b0b0b0;
  }
  .reviews-swiper__bottom .swiper-title p {
    margin: 10px 0 40px 0;
    font-size: 14px;
    line-height: 19.6px;
  }
  .info-bottom__content p {
    font-size: 16px;
    line-height: 22.4px;
  }
  .info-bottom__content span {
    font-size: 16px;
    line-height: 22.4px;
    margin: 20px 0 40px 0;
  }
  .info-bottom__content {
    a {
      width: 270px;
    }
  }
  .market-challenges .chalange-card {
    margin-bottom: 40px;
  }
  .market-challenges .chalange-card ul {
    min-height: 308px;
  }
  .most-comfortable .red-btn {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .intro-map {
    right: -300px;
  }
}
