.btn,
.white-btn {
  padding: 14px 16px;
  border-radius: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  border: 1px solid #3d3d3d;
  color: #3d3d3d;
  transition: all 0.3s linear;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  &:hover {
    background-color: #c73731;
    color: #fff;
    border-color: #c73731;
  }
}

.white-btn {
  border-color: #fff;
  color: #fff;

  &:hover {
    color: #c73731;
    background: #f5f5f5;
    box-shadow: 0px 0px 10px 0px #4e060699 inset;
  }
}

.red-btn {
  color: #f5f5f5;
  border-color: transparent;
  background: #c73731;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-outlin-btn {
  background: transparent;
  border-color: #c73731;
  text-align: center;
  color: #c73731;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
}
