body {
  &.white-bg {
    background: #fff;
  }
}
.article-two__page {
  .articles-sec {
    padding-bottom: 125px;
  }
  .right-box {
    max-width: 270px;
    margin-top: -8px;
    min-width: 270px;
  }
  .article-nav {
    margin: 46px 11px 60px 0;
  }
  .article-nav__img {
    margin-top: -14px;
  }
  .articles-sec .container {
    align-items: start;
  }
  .articles-sec .container {
    gap: 30px;
  }
  .left-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .show-more__btn {
      margin: 30px auto 0 auto;
      width: 251px;
      height: 47px;
      display: flex;
      align-items: center;
      transform: translateX(18px);
      justify-content: center;
    }
  }
  .article-nav {
    background: transparent;
  }
  .article-nav__link {
    padding-bottom: 10px;
    &.active {
      color: #160d0e;
      border-bottom: 1px solid #c73731;
    }
  }
}
.articles-cards {
  display: flex;
  gap: 28px;
  align-items: stretch;
  &.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 60px;
  }
  .articles-card {
    height: unset;
    background: #f1f0f5;
    &__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: #575378;
    }
    &__content {
      min-height: 57%;
      padding-bottom: 44px;
    }
  }
  .card {
    position: relative;
    padding: 40px 29px 34px 47px;
    z-index: 1;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    &.larg {
      max-width: 565px;
    }
    &.small {
      max-width: 273px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 20px 40px 24px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(196, 196, 196, 0) 0%,
          rgba(0, 0, 0, 0.88) 69.56%
        );
        z-index: -1;
      }
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
    }
    &-info {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.09px;
    }
    &-sub__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 19.6px;
    }
    &-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 33.6px;
      margin: 22px 0 60px 0;
    }
    &-footer {
      display: flex;
      align-items: center;
      gap: 24px;
      justify-content: space-between;
      .card-info {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
      }
    }
    .btn {
      padding: 14px 44px;
      width: 177px;
    }
  }
}

.content-cards {
  background: #fff;
  box-shadow: 0px 4px 15px 0px #a5a5a540;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  gap: 30px;
  &.mt-60 {
    margin: 30px 0;
  }
  .content-card {
    &__img {
      object-fit: cover;
      width: 100%;
      height: 174px;
      border-radius: 4px;
    }
    &__title {
      font-size: 18px;
      font-weight: 500;
      line-height: 21.09px;
      margin: 24px 0 22px 0;
    }
    &__author {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      color: #2d5faa;
    }
    &__footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 30px;
      & > span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        color: #707070;
      }
    }
  }
  .articles-card__footer {
    gap: 3px;
  }
}

.heart-btn {
  path {
    fill: transparent;
    stroke: #b1aeae;
  }
}
.articles-sec {
  .articles-swiper__scrollbar {
    width: 100% !important;
  }
}
.article-nav__dropdown {
  display: none;
  select {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #b0b0b0;
    border: none;
    background: #fff;
    outline: none;
  }
  option {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #b0b0b0;
  }
}
.article-four__page {
  .articles-sec .container {
    gap: 30px;
  }
  .articles-sec .right-box {
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 270px;
  }
  .left-box {
    max-width: 870px;
  }
  .articles-swiper__two {
    padding-top: 50px;
    margin-top: 30px;
  }
  .articles-four {
    margin-bottom: 60px;
    margin-top: 60px;
    .swiper-wrapper {
      align-items: stretch;
    }
    .swiper-slide {
      height: unset;
    }
  }
  .show-more__btn {
    width: 300px;
    margin: 0 auto;
  }
  .swiper-btns {
    justify-content: end;
  }
  .content-cards__two {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-card {
      box-shadow: 0px 0px 15px 0px #a5a5a540;
      background: #fff;
      border-radius: 10px;
      padding: 30px;
    }
    .card-info {
      font-size: 20px;
      font-weight: 400;
      line-height: 23.44px;
      color: #5a5a5a;
    }
    .card-title {
      font-size: 34px;
      font-weight: 600;
      line-height: 47.6px;
      color: #5a5a5a;
      margin-top: 16px;
    }
    .card-img {
      margin: 30px 0;
      object-fit: cover;
      width: 100%;
      height: 381px;
      border-radius: 4px;
    }
    .card-desc {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }
    .btn {
      width: 251px;
    }
    .card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }
  }
}
.article-nav__dropdown .options {
  z-index: 100;
}

.article-three__page {
  .left-box {
    width: 840px;
    flex: none;
  }
  .articles-card__img {
    height: 226px;
  }
  .articles-card__content {
    padding: 16px 21px;
    min-height: 47%;
  }
  .article-one .articles-card__desc,
  .article-two__page .articles-card__desc {
    margin-bottom: 31px;
    margin-top: 21px;
  }
  .articles-card__desc {
    margin: 20px 0;
  }
  .articles-cards.wrap {
    row-gap: 59px;
  }
  .articles-card {
    padding-bottom: 28px;
  }
  .articles-card__desc {
    font-size: 16px;
    line-height: 25.6px;
    color: #575378;
  }
  .articles-sec .container {
    justify-content: space-between;
  }
  .content-cards {
    gap: 22px;
  }
}
