.article-one,
.article-two__page,
.article-four__page {
  .header .nav-list {
    gap: 83px;
    padding-right: 48px;
  }
  .breadcrumb-link {
    font-size: 16px;
    line-height: 18.75px;
  }
  .breadcrumb-list {
    gap: 6px;
  }
  .list {
    padding-left: 37px;
    gap: 20px;
    .list-item {
      width: 94%;
    }
  }
  .list-item::before {
    width: 15px;
    height: 15px;
    left: -37px;
  }
  .articles-swiper {
    margin-top: 60px;
  }
  .articles-card__desc {
    margin-bottom: 14px;
  }
}
.article-one {
  footer {
    .footer-top {
      padding-bottom: 67px;
    }
  }
  .footer-right__box {
    margin-top: 6px;
  }
  .footer-right__box {
    align-items: start;
  }
  .footer-right__box .footer-list:last-child {
    padding-top: 0;
    gap: 18px;
    .footer-link {
      line-height: 22.4px;
    }
  }
}

.article-nav {
  background: #ffffff;
  position: relative;
  margin: 33px 11px 60px 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  .swiper {
    width: 100%;
  }
  .swiper-slide {
    width: fit-content !important;
  }
  &__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    color: #8e8c8c;
    white-space: nowrap;
    &.active {
      color: #c73731;
    }
  }
  &__img {
    margin-top: -6px;
  }
}
.article-nav__swiper-next,
.article-nav__swiper-prev {
  background: #fff;
  z-index: 10;
}
.article-nav__swiper-prev img {
  transform: rotate(180deg);
}
.article-nav__swiper-btns {
  display: flex;
  gap: 20px;
}
.articles-sec,
.comments-sec {
  padding-bottom: 114px;
  .container {
    display: flex;
    gap: 99px;
  }
  .left-box {
    flex: 1 1 auto;
  }
  &__hashtag {
    display: flex;
    gap: 15px;
    padding-top: 30px;
    flex-wrap: wrap;
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      color: #dc6969;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    margin: 10px 0 20px 0;
  }
  &__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #7b7979;
  }
  .article-boxes {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
  }
  .number-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    color: #050505;
    display: flex;
    gap: 10px;
    align-items: center;
    .number {
      font-size: 24px;
      font-weight: 700;
      line-height: 40.8px;
      color: #c73731;
    }
  }
  .article-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__img {
      width: 100%;
      height: 388px;
      object-fit: cover;
    }
    &__img-two {
      width: 100%;
      height: 493px;
      object-fit: cover;
    }
    &__title {
      font-size: 28px;
      font-weight: 600;
      line-height: 39.2px;
      margin-bottom: 5px;
    }
    &__desc {
      font-size: 20px;
      font-weight: 300;
      line-height: 34px;
      color: #050505;
      &.normal {
        font-weight: normal;
      }
    }
  }
  .article-box__title-xl {
    font-size: 36px;
    font-weight: 600;
    line-height: 50.4px;
    margin-top: 18px;
    margin-bottom: 9px;
  }
  .font-Montserrat {
    font-family: 'Montserrat', 'Roboto', sans-serif;
  }
  .desc-title {
    margin-bottom: 10px;
  }
  .quote-box {
    margin: 38px 0;
    display: flex;
    align-items: start;
    &__desc {
      font-size: 24px;
      font-style: italic;
      font-weight: 400;
      line-height: 40.8px;
      color: #050505;
      text-indent: 36px;
      padding-top: 4px;
    }
    img {
      width: 35px;
      height: 32px;
    }
  }
  .list-item {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
  }
  .article-footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;

    h5 {
      font-size: 20px;
      font-weight: 500;
      line-height: 23.44px;
    }
    .social-media {
      display: flex;
      gap: 30px;
      align-items: center;
      margin-top: 20px;
      margin-left: 3px;
    }
  }
  .right-box {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    &__content {
    }
    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 18.75px;
      color: #909090;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
    .comment-box {
      padding: 20px 0 30px 0;
      border-top: 1px solid #b8b8b8;
      &__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
        color: #000;
        margin-bottom: 9px;
      }
    }
  }
}
.articles-sec .right-box .comment-box__title,
.comments-sec .right-box .comment-box__title {
  width: 90%;
}
.articles-sec .article-footer {
  padding-right: 117px;
}
.articles-sec .number-title {
  margin-bottom: -6px;
}
.articles-sec .article-box__desc {
  width: 90%;
  &.top-desc,
  &.normal {
    width: 100%;
  }
}
.articles-sec .article-box__img-two {
  width: 699px;
}
// .comments-sec
.comments-sec {
  padding: 124px 0 88px 0;
  .left-box {
    width: 730px;
  }
  .comments-form__title-sm {
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
  }
  .comments-form {
    &__title {
      font-size: 32px;
      font-weight: 400;
      line-height: 44.8px;
    }
    form {
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 670px;
    }
    .input-box {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      input:first-child {
        width: 270px;
      }
      input:last-child {
        width: 300px;
      }
    }

    input,
    textarea {
      font-size: 16px;
      font-weight: 300;
      line-height: 22.4px;
      border: 1px solid #b1aeae;
      width: 100%;
      height: 55px;
      outline: none;
      padding: 17px 15px;
      background: transparent;
      border-radius: 4px;
    }
    textarea {
      padding: 22px 16px;
      height: 185px;
      resize: vertical;
      width: 100%;
    }
    .btns {
      display: flex;
      gap: 46px;
      align-items: center;
      margin-top: 12px;
    }
    .blue-btn {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      color: #fff;
      padding: 14px 85px;
      background: #4581c7;
      border-radius: 38px;
    }
    .cencel-btn {
      font-size: 16px;
      font-weight: 500;
      line-height: 22.4px;
      color: #707070;
    }
  }
  .comments-form__bottom {
    textarea {
      padding: 11px 16px;
      height: 117px;
    }
  }
  .more-comment__btn {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #b1aeae;
  }
  .first-comment-btn {
    margin: 40px 0;
  }
  .comments-boxes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
    margin-top: 103px;
  }
  .child-comment {
    padding-left: 29px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 39px;

    &.hide {
      display: none;
    }

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      background: #eaeaea;
      height: 100%;
      width: 1px;
    }
  }
  .comment-box {
    display: flex;
    flex-direction: column;
    gap: 0;
    &.bottom-comment {
      margin-top: 20px;
    }
    .user-box {
      display: flex;
      gap: 17px;
      align-items: center;
      margin-bottom: 27px;
    }
    .avatar {
      width: 50px;
      height: 50px;
      background: #4d9a00;
      border-radius: 50%;
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user-name {
      font-size: 20px;
      font-weight: 500;
      line-height: 34px;
    }
    .user-comment {
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      width: 730px;
    }
    .comment-date {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      color: #b1aeae;
      margin-top: 17px;
    }
    .bottom-box {
      display: flex;
      align-items: center;
      gap: 27px;
      margin-top: 29px;
    }
    .ansver-btn {
      font-size: 16px;
      font-weight: 600;
      line-height: 18.75px;
      color: #707070;
      transition: all 0.2s linear;

      &:hover {
        color: #c73731;
      }
    }
  }
}

.heart-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    path {
      fill: #c73731;
      stroke: #c73731;
    }
  }
}
