.intro {
  margin: 108px auto 294px auto;
  z-index: 1;
  .table-map {
    display: none;
  }
  .container {
    position: relative;
  }
  .red-btn {
    max-width: 423px;
    width: 100%;

    &:hover {
      background: #a8241e;
    }
  }
  &-map {
    position: absolute;
    top: 100px;
    right: -212px;
    width: 856.57px;
    height: 494px;
    z-index: -1;
    &__img {
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    max-width: 1052px;
    &__title {
      font-size: 64px;
      font-weight: 500;
      line-height: 89.6px;
    }
  }
  .company-info__list {
    margin: 60px 0;
    max-width: 698px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &-item {
      display: flex;
      align-items: start;
      gap: 30px;
      img {
        padding-top: 8px;
      }
    }
    &-text {
      font-size: 24px;
      line-height: 33.6px;
    }
  }
  .red-btn {
    font-size: 18px;
    font-weight: 600;
  }
}

// our-services
.our-services {
  .title-box {
    padding-bottom: 30px;
    margin-bottom: 59px;
    position: relative;
    gap: 20px;
    border-bottom: 1px solid #dcdbdb;
    .sub-title {
      color: #3d3d3d;
      padding: 17px 0 0 73px;
    }
    .btn {
      margin-top: 17px;
    }
  }
  .swiper-scrollbar {
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .our-services__swiper {
    position: relative;
  }
  .swiper-btns {
    justify-content: end;
    width: 100%;
  }
  .swiper-wrapper {
    align-items: stretch;
    margin-top: 26px;
  }
  .swiper-slide {
    // min-height: 346px !important;
    position: relative;
    // padding-bottom: 217px;
    // overflow: hidden;
    border-radius: 10px;
  }
  &__card {
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 13.9px 0px #9d9c9c40;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .our-services__card-back {
        top: 0;
        opacity: 1;
      }
    }
    &-img {
      width: 100%;
      height: 225px;
      object-fit: cover;
      border-radius: 13px 13px 0 0;
    }
    .card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 115px;
      padding: 0 30px;
    }
    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 21.6px;
      text-align: center;
      color: #4e4e4e;
      margin-top: -12px;
    }
    &-back {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 13.9px 0px #9d9c9c40;
      overflow: hidden;
      height: 100%;
      transform-origin: top;
      transition: all 0.3s ease;
      // height: 460px;
      opacity: 0;
      height: fit-content;

      &-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 28.13px;
        color: #c73731;
      }
      .card-header {
        padding: 30px 30px 25px 20px;
        border-bottom: 1px solid #c73731;
      }
      .card-body {
        padding: 25px 12px 25px 30px;
      }
      .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 40px 28px 30px;
      }
      .card-number {
        font-size: 32px;
        font-weight: 300;
        line-height: 37.5px;
        color: #8e8c8c;
      }
    }
  }
}
// our-services

// exploration-countries
.exploration-countries {
  &__swiper {
    position: relative;
    margin: 60px 0 5px 0;
    .swiper-slide {
      height: unset !important;
    }
  }
  &__card {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 13.9px 0px #9d9c9c40;
    &-img {
      width: 100%;
      height: 225px;
      object-fit: cover;
    }
    &-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 28.13px;
      text-align: center;
      padding: 22px 32px;
      color: #c73731;
      border-bottom: 1px solid #c73731;
      text-transform: uppercase;
    }
    .desc {
      padding: 25px 12px 33px 30px;
    }
    .card-footer {
      padding: 2px 25px 25px 25px;
    }
    .btn {
      width: 100%;
    }
  }
  .world-locations {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    &__map {
      width: 579px;
      height: 328px;
      margin-top: 33px;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .accordions {
      max-width: 467px;
      width: 100%;
    }
  }
  .accordion-list {
    gap: 10px;
  }
  .accordion-content__list {
    .accordion-list:last-child {
      margin-right: 20px;
    }
  }
}
// exploration-countries

// market-research
.market-research {
  padding: 120px 0 154px 0;

  &__cards {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 60px;
    gap: 15px;
  }
  .desc-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__card {
    &-info {
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
    }
    &.left {
      max-width: 572px;
    }
    &.right {
      max-width: 480px;
      height: 275px;
      .market-research__card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
    gap: 78px;
    text-align: center;
    margin: 30px 0 120px 0;
  }
  &__stat-item {
    background: url(../../images/globs.png) no-repeat;
    background-size: 189px 189px;
    background-position: top center;
    padding-top: 57px;
  }
  &__stat {
    &-number {
      font-size: 48px;
      font-weight: 700;
      line-height: 56.25px;
      color: #c73731;
    }
    &-title {
      font-size: 32px;
      font-weight: 400;
      line-height: 37.5px;
      padding-bottom: 26px;
    }
    &-description {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.09px;
    }
  }
  .expert-profile {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .big-home__photo.expert-profile__photo {
      border-radius: 10px;
      margin-top: 6px;
      min-width: 400px;
      max-width: 400px;
      height: 511px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__description {
      max-width: 698px;
    }
    .list {
      margin-left: 40px;
    }
  }
  .list-item {
    max-width: 543px;
  }
}
//market-research

// our-values
.our-values {
  &__cards {
    display: flex;
    gap: 31px;
    margin-top: 60px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__card {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 30px 20px;
    border-radius: 10px;
    min-width: 269px;
    max-width: 269px;

    &-header {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: 25px;
    }
    &-number {
      padding: 5px 15px;
      border-radius: 10px;
      background: #e24e47;

      span {
        font-size: 20px;
        color: #fff;
        font-weight: 300;
        line-height: 23.44px;
        text-align: center;
      }
    }
    &-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 23.44px;
      color: #e24e47;
    }
    .desc {
      line-height: 22px;
    }
  }
}
// our-values

.market-analysis {
  padding: 120px 0;

  &.active {
    position: relative;

    .market-analysis {
      &__container {
        max-width: 100vw;
        position: relative;
        z-index: 1;
        justify-content: center;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background: #c73731;
          z-index: -1;
        }
      }

      &__content {
        display: none;
      }

      &__slider {
        .swiper-numbers {
          display: none;
        }
      }

      &__swiper {
        padding: 40px 0;
        width: 432px;
        gap: 60px;

        h4 {
          color: #fbfafa;
          text-align: center;
          margin-bottom: 30px;
        }

        a {
          border-color: #f3f1f1;
          border-width: 2px;
          color: #ebebeb;
          font-size: 18px;
          height: 61px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .swiper-btns {
          button {
            svg path {
              stroke: #fbfafa;
            }

            &.swiper-button-disabled {
              svg path {
                stroke: #d1d1d1;
              }
            }
          }
        }
      }
    }
  }

  .title-sm {
    margin-bottom: 58px;
  }
  .swiper-numbers {
    padding-left: 38px;
  }
  &__container {
    box-shadow: 0px 0px 11.2px 0px #dddddd40;
    background-color: #fff;
    display: flex;
    align-items: stretch;
    max-width: 1547px;
  }
  &__content {
    background: #c73731;
    padding: 90px 65px 89px 10px;
    max-width: 875px;
    width: 100%;
    &-info {
      font-size: 24px;
      font-weight: 500;
      line-height: 33.6px;
      color: #fff;
      max-width: 426px;
      margin-left: auto;
    }
  }
  &__slider {
    width: calc(100% - 942px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__swiper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 412px;
    padding: 34px 0 18px 26px;
    height: 100%;

    &-title {
      font-size: 24px;
      font-weight: 400;
      line-height: 33.6px;
    }
    .desc {
      margin-top: 21px;
    }
  }
  .swiper-btns {
    margin: 0 auto;
  }
  .btn {
    width: 100%;
  }
}
// market-analysis

// global-market
.global-market {
  &__box {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  &__img {
    max-width: 363px;
    width: 100%;
    position: relative;
    margin-left: 50px;
    margin-top: 35px;

    img {
      width: 100%;
      height: 100%;
    }
    &-desc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      max-width: 261px;
      width: 100%;
      color: #3d3d3d;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 41px;

    &-item {
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
      display: flex;
      align-items: start;
      gap: 28px;

      img {
        padding-top: 7px;
        width: 15px;
        height: 27px;
      }
    }
  }
}
// global-market

// market-challenges
.market-challenges {
  padding: 120px 0 120px 0;
  &__swiper {
    position: relative;
    padding: 60px;
  }
  .swiper-scrollbar {
    top: 0;
  }
  .title {
    margin-bottom: 60px;
  }
  .business-analytics {
    display: flex;
    align-items: stretch;

    &__image {
      img {
        width: 100%;
        height: 100%;
      }
    }
    & > div {
      width: 50%;
    }
    &__text {
      background: #c73731;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__desc {
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
      color: #fbfafa;
      max-width: 390px;
    }
  }
}
// market-challenges

// market-entry-benefits
.market-entry-benefits {
  &__boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 41px;
  }
  .accordion-list__item {
    gap: 13px;
    align-items: start;
    min-height: 36px;
    img {
      margin-top: 7px;
    }
  }
  .accordions {
    max-width: 569px;
    padding-left: 5px;
    width: 100%;
    .accordion-content {
      max-width: 496px;
    }
  }
  &__logo {
    height: 620px;
    max-width: 360px;
    width: 100%;
    opacity: 0.2;
    &-img {
      width: 100%;
      height: 100%;
    }
  }
}
// market-entry-benefits

// consultation-invite
.consultation-invite {
  padding: 120px 0;
  &__boxes {
    max-width: 1541px;
    margin-top: 60px;
    display: flex;
    align-items: stretch;
    gap: 16px;
    justify-content: space-between;
    .register-form {
      background-color: #c73731;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 875px;
      width: 100%;
      padding: 85px 100px 89px 100px;
      color: #fff;
      border-radius: 0 20px 20px 0;
      &__info {
        font-size: 24px;
        font-weight: 500;
        line-height: 33.6px;
        margin-bottom: 55px;
      }
      &__content {
        max-width: 400px;
        margin-left: auto;
        text-align: center;
      }
      .btn {
        width: 100%;
        height: 60px;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 566px;
    &-item {
      display: flex;
      align-items: center;
      gap: 27px;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
    }
  }
}
// consultation-invite

// cooperation-process
.cooperation-process {
  .title {
    margin-bottom: 110px;
  }
  &__box {
    display: flex;
    gap: 31px;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    min-height: 170px;
    max-width: 94%;

    &:nth-child(2) {
      min-height: 133px;
    }
    &:nth-child(3) {
      min-height: 197px;
    }
    &:nth-child(4) {
      min-height: 184px;
    }
    &:nth-child(5) {
      min-height: 178px;
    }
    &:last-child {
      min-height: fit-content;

      .process {
        background: transparent;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 500;
      max-width: 350px;
      min-width: 350px;
      line-height: 36.13px;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        color: #c73731;
        & + .process .circle {
          width: 38px;
          height: 38px;

          &::before {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    &-desc {
      max-width: 604px;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
    }
  }
  .process {
    background: url(../images/line.png) no-repeat;
    background-size: 3px;
    position: relative;
    z-index: 1;
    background-position: center;
    width: 38px;
    margin-right: 45px;
    margin-top: -5px;
  }
  .circle {
    border: 1px solid #c73731;
    border-radius: 50%;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    top: 0;
    z-index: 2;
    transition: all 0.1s linear;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background: #c73731;
      border-radius: 50%;
    }
  }
}
// cooperation-process

// client-results
.client-results {
  padding: 137px 0 103px 0;
  &__swiper {
    position: relative;
    margin-top: 60px;
    .swiper-scrollbar {
      top: 0;
      left: 0;
      width: 100%;
      display: none;
    }
    .swiper-wrapper {
      align-items: stretch;
    }
    .swiper-slide {
      height: unset !important;
      overflow: hidden;
      border-radius: 10px;
      transition: all 0.2s linear;
      border: 1px solid transparent;
      box-sizing: border-box;
      &:hover {
        box-shadow: 0px 4px 8.1px 0px #aaaaaa40;
        border-color: #dcdbdb;
      }
    }
  }
  &__card {
    height: 100%;
    padding: 31px 17px 40px 17px;
    background: #fff;
    border-radius: 10px;

    &-img {
      border-radius: 10px;
      width: 100%;
      height: 156px;
      object-fit: cover;
    }
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 0 13px 0;
    }
    &-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 28.13px;
    }
    &-number {
      font-size: 22px;
      font-weight: 500;
      line-height: 25.78px;
      color: #c73731;
    }
    &-desc {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.09px;
    }
  }
}
// client-results

// market-research-beneficiaries
.market-research-beneficiaries {
  .market-research-beneficiaries__card-list-item {
    img {
      width: 17px;
      height: 24px;
    }
  }
  &__cards {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
    overflow-x: auto;
    margin-right: -50px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__card {
    min-width: 344px;
    max-width: 333px;
    &-top {
      text-align: center;
      margin-bottom: 8px;
      min-height: 300px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 78%;
        height: 1px;
        background: #b0b0b0;
      }
    }
    &-img {
      width: 220px;
      height: 150px;
      object-fit: cover;
    }
    &-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-top: 30px;
      max-width: 303px;
      margin: 23px auto 0 auto;
      color: #3d3d3d;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 13px;
      &-item {
        display: flex;
        align-items: center;
        gap: 27px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
      }
    }
  }
}
// market-research-beneficiaries

// reviews
.reviews {
  padding-top: 120px;
  .container {
    overflow: hidden;
  }
  .title-box {
    margin-bottom: 31px;
  }
  .swiper-btns {
    gap: 33px;
    padding-top: 10px;
    align-items: start;
  }
  &-swiper__top {
    width: 244px;
    overflow: visible;
    // margin-top: 36px;

    .swiper-wrapper {
      height: 133px;
      align-items: center;
    }
    .logo-box {
      background: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #f5f5f5;
      width: 91px;
      height: 91px;
      transition: all 0.2s linear;
      padding: 15px;
      img {
        width: 100%;
      }
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 1px;
        background: #b0b0b0;
        z-index: -1;
      }
    }
    .swiper-slide-active {
      &::before {
        background: #c73731;
      }
      .logo-box {
        width: 133px;
        height: 133px;
      }
    }
  }
  &-swiper__bottom {
    text-align: center;
    max-width: 830px;
    margin: 0 auto;
    padding-top: 35px;
    position: relative;
    .swiper-slide {
      &:not(.swiper-slide-active) {
        overflow: hidden;
        height: 0;
      }
    }
    z-index: 1;
    .quote-img {
      position: absolute;
      top: 68px;
      left: -99px;
      width: 264px;
      height: 197px;
      z-index: -1;
    }
    .swiper-title {
      h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #c73731;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        margin: 10px 0 45px 0;
      }
    }
    .swiper-desc {
      .desc {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
      }
    }
  }
}
// reviews

// our-clients
.our-clients {
  margin: 120px 0;
  &__boxes {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 43px;
  }
  .nail-studio {
    transition: all 0.2s linear;
    &:hover {
      background: #000;
    }
  }
  &__logo-box {
    width: 174px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px 0 0 14px;
    &:first-child {
      img {
        width: 79px;
        height: 79px;
      }
    }
    &:nth-child(2) {
      img {
        width: 158px;
        height: 63.95px;
      }
    }
    &:nth-child(3) {
      img {
        width: 184.77px;
        height: 50px;
      }
    }
    &:nth-child(4) {
      img {
        width: 162px;
        height: 107.77px;
      }
    }
    &:nth-child(5) {
      margin-left: 5px;
      img {
        width: 133.92px;
        height: 136px;
      }
    }
    &:nth-child(6) {
      margin-left: 16px;
      width: 171px;
      height: 130px;
      img {
        width: 174px;
        height: 86px;
      }
    }
    &:nth-child(8) {
      margin-left: 14px;
      margin-top: 18px;
    }
    &:nth-child(9) {
      margin-top: 15px;
    }
    &:nth-child(10) {
      margin-top: 16px;
      margin-left: 24px;
      img {
        width: 163.98px;
        height: 56px;
      }
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      filter: grayscale(100%);
      opacity: 0.3;
      transition: all 0.2s linear;
    }
    &:hover {
      img {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}
// our-clients

// contact us
.contact-us {
  max-width: 1544px;
  &__cards {
    display: flex;
    // align-items: center;
    margin-top: 66px;
  }
  .social-media {
    display: flex;
    gap: 24px;
    margin-top: 34px;

    &__img {
      width: 40px;
      height: 40px;
    }
  }
  &__card {
    max-width: 875px;
    width: 100%;
    background-color: #c73731;
    min-height: 430px;
    padding: 60px 100px 60px 60px;

    .content {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-left: auto;
      color: #dcdbdb;
      .link-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    &-title {
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: 500;
      line-height: 28.13px;
    }
    &-tel {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      color: #dcdbdb;
    }
    &-email {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 400;
      line-height: 21.09px;
      color: #dcdbdb;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 470px;
    width: 100%;
    padding-top: 35px;
    margin-left: auto;
    .input-box {
      width: 100%;
      position: relative;
      z-index: 1;
      label {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        color: #8e8c8c;
        position: absolute;
        bottom: 10px;
        left: 0;
        z-index: -1;
        transition: all 0.2s linear;
        &.active {
          bottom: 39px;
          font-size: 10px;
          line-height: 11.72px;
        }
      }
    }
    &-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 33.6px;
      text-align: center;
      color: #8e8c8c;
      max-width: 440px;
    }
    input {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      color: #3d3d3d;
      padding-bottom: 10px;
      border: none;
      border-bottom: 1px solid #b0b0b0;
      outline: none;
      background: transparent;
      &::placeholder {
        color: #8e8c8c;
      }
    }
    .btn {
      border-color: #c73731;
      color: #c73731;
      height: 55px;
      border-width: 2px;
      margin-top: 7px;
      &:hover {
        color: #fff;
      }
    }
  }
}
// contact us

// faq-section
.faq-section {
  padding: 108px 0 120px 0;
  .accordions {
    margin-top: 53px;
  }
  .accordion-header.active {
    .accordion-header__title {
      color: #c73731;
    }
  }
  .accordion-content {
    padding-bottom: 30px;
  }
  .accordion-header__title {
    color: #191919;
  }
  .accordions {
    .accordion {
      padding-bottom: 0 !important;
      &:first-child {
        // padding-top: 31px;
        .accordion-header {
          padding-bottom: 60px;
        }
      }
    }
  }
  .accordion {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .accordion-header {
    padding-bottom: 15px;
  }
  .accordion {
    gap: 0;
    &-content {
      padding-top: 30px;
      padding-left: 30px;
      &__desc {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        max-width: 892px;
      }
    }
    &-header {
      padding-left: 25px;
      padding-right: 10px;
      height: 51px;
      &.active {
        padding-right: 25px;
        border-bottom: 1px solid #dcdbdb;
      }
    }
  }
}
// faq-section

// articles
.articles {
  padding-bottom: 140px;
  &-swiper {
    margin-top: 55px;
    padding-top: 54px;
  }
  .heart-btn {
    path {
      fill: transparent;
      stroke: #b0b0b0;
      transition: all 0.2s linear;
    }
    &.active {
      path {
        fill: #c73731;
        stroke: #c73731;
      }
    }
  }
  .swiper-wrapper {
    align-items: stretch;
  }
  .swiper-slide {
    height: unset !important;
  }
  &-swiper__scrollbar {
    top: 0 !important;
  }
  &-card {
    background-color: #fff;
    box-shadow: 0px 0px 11.9px 0px #cfcbcb40;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    & > div:first-child {
      h3 {
        padding: 20px 16px 0 16px;
      }
    }
    &__content {
      padding: 0 16px 20px 16px;
    }
    .heart-btn {
      display: flex;
      align-items: center;
    }
    &__img {
      width: 100%;
      border-radius: 5px 5px 0 0;
      object-fit: cover;
      height: 198px;
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #c73731;
    }
    &__desc {
      font-size: 14px;
      font-weight: 400;
      line-height: 22.4px;
      color: #8e8c8c;
      margin: 10px 0 20px 0;
    }
    &__footer {
      display: flex;
      align-items: center;
      gap: 30px;
      & > div {
        display: flex;
        align-items: center;
        gap: 7px;
      }
      .count {
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 500;
        line-height: 22.4px;
        color: #9c9c9c;
      }
    }
  }
}
//articles

.media-block {
  display: none;
}

.market-challenges {
  .swiper-slide {
    width: 1915px;
    overflow-x: auto;
  }
  .market-challenges__swiper-two {
    position: relative;
    padding-top: 60px;
  }
  .chalange-card {
    margin-bottom: 42px;
    .swiper-line {
      position: absolute;
      top: 133px;
      left: 0;
      z-index: -1;
      overflow: hidden;
    }
    ul {
      display: flex;
      align-items: start;
      gap: 105px;
      min-height: 345px;
      position: relative;
      z-index: 1;
    }
    li {
      position: absolute;
      font-size: 16px;
      line-height: 22px;
      max-width: 355px;

      &:nth-child(even) {
        top: 0;
        left: calc(276px * 2);
        background: red;
        &::before {
          content: '';
          position: absolute;
          top: 132px;
          left: 0;
          width: 100%;
          height: 100px;
          background: url(../../images/1.svg) no-repeat;
        }
      }
      &:nth-child(odd) {
        &::before {
          content: '';
          position: absolute;
          top: -104px;
          left: 0;
          width: 100%;
          height: 100px;
          background: url(../../images/2.svg) no-repeat;
        }
      }
      &:nth-child(1) {
        // left: 0;
        // top: 226px;
        &::before {
          content: '';
          position: absolute;
          top: -109px;
          left: 0;
          width: 100%;
          height: 100px;
          background: url(../../images/first.svg) no-repeat;
          background-size: 100% 100%;
        }
      }
      &:last-child {
        left: 0;
        top: 226px;
        &::before {
          content: '';
          position: absolute;
          top: -124px;
          left: -60px;
          width: 100%;
          height: 100px;
          background: url(../../images/2.svg) no-repeat;
          background-size: 100% auto;
        }
      }
      // &:nth-child(2) {
      //   left: 342px;
      //   top: 0;
      // }
      // &:nth-child(3) {
      //   left: 571px;
      //   top: 238px;
      // }
      // &:nth-child(4) {
      //   left: 802px;
      //   top: 0;
      // }
      // &:nth-child(5) {
      //   left: 1031px;
      //   top: 237px;
      // }
      // &:nth-child(6) {
      //   left: 1262px;
      //   top: 0;
      // }
      // &:nth-child(7) {
      //   left: 1560px;
      //   top: 226px;
      // }
    }
  }
}

.most-comfortable .red-btn {
  margin: 60px auto 0 auto;
  width: 399px;
}

.our-services .swiper-scrollbar {
  display: none;
}

.market-analysis__slider {
  .btn {
    &:hover {
      background: #f5f5f5;
      color: #c73731 !important;
    }
  }
}
.our-clients__logo-box {
  &:hover {
    path {
      fill: red;
      stroke: blue;
    }
  }
}
.our-services {
  margin-bottom: 120px;
}

.business-analytics__swiper {
  &.margin-bottom {
    margin-bottom: 120px;
  }
}

.all-boxes {
  display: flex;
  flex-direction: column;
  row-gap: 155px;
  .flex-box {
    display: flex;
    align-items: start;
    gap: 20px;
  }
  .top-boxes {
    .info-box {
      p {
        // max-width: 355px;
        margin-left: auto;
      }
      &:last-child {
        &::before {
          // left: 45px;
          // top: 136px;
          left: 95px;
          // top: 107px;
          top: 145px;
          background: url(../../images/last.svg) no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
  .bottom-boxes {
    .info-box:last-child {
      &::before {
        display: none;
      }
    }
    .last-bottom {
      &::before {
        display: block !important;
        background: url(../../images/last.svg) no-repeat;
      }
    }
  }
  .info-box {
    min-width: 370px;
    max-width: 306px;
    position: relative;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
      color: #191919;
      height: 112px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }
    &.no-line {
      min-width: 250px;
      &::before {
        display: none;
      }
    }

    &:nth-child(even) {
      &::before {
        content: '';
        position: absolute;
        // top: 150px;
        top: 154px;
        left: 58px;
        width: 100%;
        height: 100px;
        background: url(../../images/1.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
    &:nth-child(odd) {
      &::before {
        content: '';
        position: absolute;
        top: -121px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../../images/2.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
    &:nth-child(1) {
      &::before {
        content: '';
        position: absolute;
        top: -109px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../../images/first.svg) no-repeat;
      }
    }
    &:last-child {
      &::before {
        content: '';
        // display: none;
        position: absolute;
        top: -129px;
        left: -1px;
        width: 100%;
        height: 100px;
        background: url(../../images/2.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}
.market-challenges .swiper-slide {
  overflow: visible;
  padding-right: 50px;
}

.market-analysis,
.consultation-invite,
.contact-us {
  max-width: 1920px;
  margin: 0 auto;
}
.contact-us__cards,
.market-analysis__container,
.consultation-invite__boxes {
  max-width: 1540px;
}
.contact-us__form {
  max-width: 566px;
}
.market-analysis__content,
.consultation-invite__boxes .register-form,
.contact-us__card,
.united-states__page .consultation-invite__boxes .register-form {
  padding-right: 40px;
}

.contact-us__card .content,
.consultation-invite__boxes .register-form__content,
.market-analysis__content-info {
  max-width: 400px;
}
.market-analysis__swiper {
  padding-left: 0;
}
.market-challenges .market-challenges__swiper-two {
  margin-right: 450px;
}
.all-boxes {
  .top-boxes {
    .info-box {
      &.last-top {
        &::before {
          display: none;
        }
      }
    }
  }
  .bottom-boxes {
    .info-box:last-child {
      &::before {
        display: none;
      }
    }
    .last-bottom {
      &::before {
        display: block !important;
        // background: url(../../images/last.svg) no-repeat;
      }
    }
  }
}

.market-challenges .swiper-horizontal > .swiper-scrollbar,
.market-challenges .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: calc(100% + 450px);
}

@media screen and (max-width: 1024px) {
  .market-challenges .swiper-slide {
    padding-right: 0 !important;
  }
}
