.united-states__page {
  .intro-content__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 67.2px;
    text-align: left;
    span {
      color: #4581c7;
    }
  }
  .intro-info {
    font-size: 28px;
    font-weight: 400;
    line-height: 39.2px;
    color: #191919;
    margin-top: 20px;
  }
  .intro .company-info__list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
  }
  .intro .company-info__list-item {
    gap: 22px;
    align-items: start;
  }
  .intro .company-info__list-item img {
    padding-top: 0;
  }
  .intro .company-info__list {
    gap: 30px;
    margin: 0;
  }
  .our-services .title-box .sub-title {
    color: #3d3d3d;
    padding: 0 0 0 128px;
  }
  .our-services .title-box .btn {
    width: 251px;
    height: 47px;
    margin-top: 0;
  }
  .intro {
    margin-bottom: 150px;
    margin-top: 37px;
    &-content {
      max-width: 795px;
      width: 100%;
      padding-top: 76px;
    }
    &-img__box {
      position: absolute;
      z-index: -1;
      right: -73px;
      top: 0;
      width: 480px;
      height: 434px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .bottom-content {
      display: flex;
      align-items: start;
      gap: 30px;
      margin-top: 60px;
    }
    .btn {
      min-width: 399px;
      max-width: 399px;
      height: 60px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: #c73731;
      color: #dcdbdb;
      border-color: transparent;
    }
  }
  .market-research {
    padding: 43px 0 0 0;
    .market-research__title {
      padding-left: 10px;
      width: 92%;
    }
    .market-research__cards {
      padding-left: 10px;
    }
  }
  .market-research .expert-profile {
    gap: 128px;
    .expert-profile__photo > img {
      width: 100%;
      height: 100%;
    }
  }
  .market-analysis {
    .title {
      margin-bottom: 60px;
    }
  }
  .expert-profile__photo {
    min-width: 343px;
    height: 410px;
    margin-top: 7px;
    position: relative;
    overflow: visible;
    .quote-box {
      max-width: 344px;
      border-radius: 15px;
      position: absolute;
      bottom: -140px;
      right: -104px;
      backdrop-filter: blur(8.100000381469727px);
      box-shadow: 0px 0px 9.8px 0px #00000040;
      padding: 20px 26px 22px 25px;
      background: #ffffffed;
      &__icon {
        width: 26px;
        height: 24px;
      }
      &__desc {
        margin-top: 10px;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22.4px;
        text-align: left;
        color: #3d3d3d;
      }
    }
    .author {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      display: block;
      text-align: right;
    }
  }
  .market-analysis__container {
    max-width: 100%;
    width: 100%;
    .swiper-slide {
      display: flex;
    }
  }
  .market-analysis__content {
    width: 100%;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .market-analysis__slider {
    width: 100%;
    background: #c73731;
    color: #fff;
    .desc {
      font-family: 'Inter', sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.05px;
      text-align: center;
    }
    .swiper-btn {
      path {
        stroke: #dcdbdb !important;
      }
    }
  }
  .swiper-numbers .swiper-pagination span {
    color: #fff;
  }
  .swiper-numbers .swiper-pagination .swiper-pagination-total {
    color: #fbfafa80;
  }
  .consultation-invite {
    padding-bottom: 0;
  }
  .consultation-invite__boxes {
    align-items: center;
  }
  .faq-section {
    .accordion-header__title {
      color: #191919;
    }
    .accordion-header {
      &.active {
        .accordion-header__title {
          color: #c73731;
        }
      }
    }
  }
  .business-analytics__pagination {
    position: absolute;
    top: 40px;
    right: 260px;
    z-index: 10;
    width: fit-content;
    left: unset;
    height: fit-content;
    span {
      font-size: 32px;
      font-weight: 300;
      line-height: 37.5px;
      color: #f5f5f5;
    }
    .swiper-pagination-total {
      color: #fbfafa80;
    }
  }
  .business-analytics {
    // min-height: 391px;
  }
  .business-analytics__swiper {
    z-index: 1;
    .business-analytics__text {
      flex-direction: column;
      gap: 60px;
      text-align: center;
      padding: 10px 0;
      .business-analytics__desc {
        font-size: 20px;
        line-height: 24.2px;
        text-align: left;
        max-width: 352px;
        margin-bottom: 60px;
        padding-top: 85px;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
      }
      &.last {
        text-align: left;
        justify-content: start;
        padding-top: 58px;
        .desc-box {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .business-analytics__desc {
          font-size: 20px;
          line-height: 24.2px;
          text-align: left;
          max-width: 370px;
        }
        .btn {
          margin-top: 10px;
          width: 100%;
        }
      }
    }
    .business-analytics__desc {
      font-family: 'Inter', sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.05px;
      text-align: center;
    }
    .swiper-btns {
      gap: 60px;
    }
    .swiper-btn {
      path {
        stroke: #f5f5f5;
      }
    }
    .swiper-button-disabled {
      path {
        stroke: #dcdbdb !important;
      }
    }
  }
  .exploration-countries {
    padding-bottom: 120px;
  }
  .our-services .title-box {
    margin-bottom: 7px;
    border: none;
    padding-bottom: 33px;
  }
  .our-services .swiper-btns {
    display: none;
  }
  .our-services .swiper-scrollbar {
    display: block;
    height: 3px;
  }
  .our-services .swiper-wrapper {
    margin-top: 60px;
  }
  .our-services__card .card-content {
    padding: 0 26px;
  }
  .market-challenges {
    padding-bottom: 0;
  }
  .business-registration-info .box {
    padding: 24px 0 20px 0;
  }
  .business-analytics__swiper .last-slide {
    .business-analytics__desc {
      padding-top: 0;
    }
    .last {
      gap: 70px;
    }
    .desc-box {
      padding: 0 40px;
      .business-analytics__desc {
        max-width: 100%;
      }
    }
  }
  .global-market__box {
    margin-top: 102px;
  }
  .global-market__box {
    margin-top: 102px;
  }
  .global-market__img {
    width: 314px;
    height: 314px;
    margin: 0;
  }
  .global-market__list {
    gap: 28px;
    &:last-child {
      padding-left: 12px;
    }
  }
  .global-market__list {
    width: 380px;
  }
  .market-challenges .market-challenges__swiper-two {
    padding-top: 0;
  }
  .market-challenges .chalange-card .swiper-line {
    top: 106px;
  }
  .market-challenges__swiper-scroll-bar {
    display: none;
  }
}

//business-registration-info
.business-registration-info {
  padding-bottom: 120px;
  &__cards {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  .listes {
    max-width: 720px;
    width: 100%;
  }
  .left-box {
    display: flex;
    align-items: center;
    gap: 25px;
    span {
      font-size: 20px;
      color: #191919;
      font-weight: 500;
      line-height: 30px;
      width: 335px;
    }
  }
  &__boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    display: flex;
    align-items: center;
    gap: 88px;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #b0b0b0;
  }
  .right-box {
    max-width: 300px;
    .box {
      border: none;
      flex-direction: column;
      gap: 25px;
      align-items: start;
    }
    .desc {
      padding-left: 52px;
    }
  }
  .title {
    margin-bottom: 30px;
  }
}
// business-registration-info

// most-comfortable
.most-comfortable {
  padding-bottom: 120px;
  .title {
    margin-bottom: 60px;
  }
  .accordion-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 56px;
    .box {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .flex-box {
        display: flex;
        align-items: center;
        gap: 25px;
      }
    }
  }
  .accordion-header__title {
    color: #191919;
  }
  .accordion-content__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &.media-desc {
      display: none;
    }
  }
  .accordion-header__title-sm {
    color: #c73731;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .accordion-content {
    .media-block__title {
      display: none;
    }
    .boxes {
      display: grid;
      gap: 56px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.united-states__page .business-analytics {
  overflow: hidden;
}

.info-bottom__content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    color: #3d3d3d;
    padding-top: 21px;
  }
  span {
    margin: 34px 0 57px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    color: #191919;
    display: block;
  }
  a {
    width: 369px;
    border-color: #c73731;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

.united-states__page {
  .consultation-invite__boxes .register-form {
    padding: 68px 44px 65px 106px;
    max-width: 880px;
  }
  .consultation-invite__list {
    gap: 15px;
    padding-top: 77px;
  }
  .consultation-invite__boxes {
    align-items: start;
  }
  .client-results {
    padding: 120px 0 104px 0;
  }
  .client-results__swiper-scrollbar {
    display: block;
  }
  .client-results__swiper {
    padding-top: 30px;
  }
  .market-research-beneficiaries {
    .title {
      width: 100%;
    }
  }
  .market-research-beneficiaries__card-top::after {
    // bottom: 33px;
  }
  .market-research-beneficiaries__card-top {
    min-height: 272px;
  }
  .market-research-beneficiaries__card {
    .desc {
      width: 91%;
      margin-left: auto;
      padding-left: 19px;
      line-height: 23px;
    }
  }
  .reviews .swiper-btns {
    margin-top: -20px;
    padding-top: 0;
  }
  .faq-section .accordion-header__title {
    max-width: 698px;
  }
  .faq-section .accordion {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .our-services__card-back .card-body {
    padding: 55px 22px 23px 31px;
  }
}
.united-states__page .business-analytics__pagination .swiper-pagination-total {
  color: #fbfafa80 !important;
}
.business-analytics__swiper-prev.swiper-button-disabled {
  path {
    stroke: #dcdbdb !important;
    stroke-width: 1px;
  }
}

.brazil-page {
  .intro-content {
    padding-top: 90px;
  }
  .intro .bottom-content {
    margin-top: 132px;
  }
  .intro {
    margin-bottom: 205px;
  }
  .market-research {
    padding-top: 60px;
  }
  .expert-profile__photo {
    min-width: 412px;
    height: 488px;
  }
  .market-research .expert-profile {
    gap: 10px;
  }
  .expert-profile__photo .quote-box {
    max-width: 344px;
    bottom: -205px;
    right: -34px;
    padding: 28px 26px 20px 25px;
  }
  .market-challenges {
    padding: 132px 0 0 0;
  }
  .business-analytics__swiper .last-slide .last {
    gap: 13px;
  }
  .most-comfortable .title {
    margin-bottom: 42px;
  }
  .most-comfortable {
    .accordion {
      padding: 25px 0px 35px 0;
    }
  }
  .most-comfortable {
    padding-bottom: 132px;
  }
  .business-registration-info .left-box span {
    width: 245px;
  }
  .business-registration-info .box {
    padding: 23px 0 20px 0;
  }
  .business-registration-info {
    padding-bottom: 135px;
  }
  .global-market__box {
    margin-top: 60px;
    align-items: start;
  }
  .client-results {
    padding: 104px 0 102px 0;
  }
  .market-research-beneficiaries__card-top {
    min-height: 300px;
  }
  .reviews {
    padding-top: 142px;
  }
  .faq-section .accordion {
    padding-top: 30px;
  }
  .faq-section .accordion-header.active {
    border: none;
  }
  .faq-section .accordions .accordion:first-child .accordion-header {
    padding-bottom: 40px;
  }
}

.oae-page {
  .intro-content {
    padding-top: 70px;
  }
  .intro {
    margin-bottom: 157px;
  }
  .market-research {
    padding-top: 57px;
  }
  .expert-profile__photo {
    min-width: 412px;
    height: 492px;
  }
  .expert-profile__photo .quote-box {
    bottom: -199px;
    right: -36px;
  }
  .market-research .expert-profile {
    gap: 10px;
  }
  .market-research .expert-profile .list {
    margin-left: 39px;
    margin-top: 149px;
  }
  .market-challenges {
    padding: 192px 0 0 0;
  }
  .most-comfortable .title {
    margin-bottom: 38px;
  }
  .business-registration-info {
    padding-bottom: 150px;
  }
  .oae-page .market-challenges {
    padding: 192px 0 7px 0;
  }
}

@media screen and (max-width: 1024px) {
  .united-states__page .intro {
    padding: 122px 0 362px 0;
    margin: 0;
  }
  .united-states__page .intro-content {
    padding-top: 0;
    max-width: 575px;
  }
  .united-states__page .intro .bottom-content {
    flex-direction: column;
    .btn {
      order: 1;
    }
  }
  .united-states__page .intro .company-info__list-text {
    font-size: 20px;
    line-height: 26px;
  }
  .united-states__page .intro-content__title {
    br {
      display: none;
    }
  }
  .united-states__page .intro-info {
    margin-top: 60px;
    font-size: 24px;
    line-height: 33.6px;
  }
  .united-states__page .intro-img__box {
    bottom: 104px;
    right: 0;
    top: unset;
    opacity: 0.3;
  }
  .united-states__page .intro {
    position: relative;
    .container {
      position: unset;
    }
  }
  .business-registration-info .right-box {
    display: none;
  }
  .business-registration-info .listes {
    max-width: 100%;
  }
  .united-states__page {
    .business-registration-info .left-box span {
      font-size: 18px;
      line-height: 27px;
      width: 240px;
    }
    .business-registration-info {
      padding-bottom: 100px;
    }
  }
  .united-states__page .business-analytics__pagination {
    top: 48%;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .united-states__page {
    .global-market__img {
      position: relative;
      width: 272px;
      height: 272px;
      top: unset;
      left: unset;
      margin: 0 auto;
      opacity: 1;
      transform: translate(0);
    }
    .global-market__box {
      gap: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .united-states__page .business-analytics__pagination {
    top: 44%;
  }
}
@media screen and (max-width: 720px) {
  .united-states__page .intro-content__title {
    font-size: 32px;
    line-height: 44.8px;
    text-align: center;
  }
  .united-states__page .business-analytics__swiper .business-analytics__desc {
    font-size: 18px;
    line-height: 21.78px;
  }
  .united-states__page .business-analytics__pagination {
    top: 209px;
  }
  .united-states__page .intro-info {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
  }
  .united-states__page .intro-content {
    max-width: 100%;
  }
  .united-states__page .intro .bottom-content {
    margin-top: 40px;
  }
  .united-states__page .intro .company-info__list-text {
    font-size: 14px;
    line-height: 18.2px;
  }
  .united-states__page .intro {
    padding: 84px 0 253px 0;
  }
  .united-states__page .intro .btn {
    width: 100%;
    font-size: 14px;
  }
  .united-states__page .intro .bottom-content {
    gap: 40px;
  }
  .united-states__page .intro-img__box {
    opacity: 0.2;
  }
  .united-states__page .expert-profile__photo .quote-box {
    max-width: 244px;
    left: 29px;
    right: unset;
    bottom: -275px;
    padding: 25px 28px 22px 28px;
  }
  .united-states__page .expert-profile__photo .quote-box__desc {
    font-size: 14px;
  }
  .united-states__page {
    .market-research .expert-profile__photo {
      margin-bottom: 238px;
    }
  }
  .united-states__page .expert-profile__photo .quote-box__icon {
    position: absolute;
    top: 35px;
    left: 28px;
    z-index: -1;
    path {
      fill: #dcdbdb;
    }
  }
  .united-states__page
    .business-analytics__swiper
    .business-analytics__text.last
    .btn {
    .media-none {
      display: none;
    }
    .media-block {
      display: block;
    }
  }
  .united-states__page
    .business-analytics__swiper
    .business-analytics__text.last
    .business-analytics__desc {
    font-size: 16px;
    line-height: 19.36px;
  }
  .united-states__page {
    .business-registration-info .box {
      flex-direction: column;
      align-items: start;
      gap: 10px;
      img {
        width: 18px;
        height: 18px;
      }
    }
    .business-registration-info .left-box {
      gap: 16px;
    }
  }
  .united-states__page .business-registration-info .left-box span {
    width: fit-content;
  }
}

@media screen and (max-width: 1024px) {
  .united-states__page .our-services .title-box .sub-title {
    padding: 0;
  }
  .united-states__page .our-services .swiper-scrollbar {
    display: block;
    top: 204px;
    bottom: unset;
  }
  .our-services__card:first-child .our-services__card-back {
    // top: 0;
  }
  .united-states__page .expert-profile__photo {
    min-width: 343px;
    max-width: 343px;
    margin: 0 auto;
  }
  .united-states__page .market-research .expert-profile {
    gap: 165px;
  }
  .united-states__page .business-analytics__swiper .business-analytics__text {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 33px;
  }
  .united-states__page .business-analytics__swiper .last-slide .desc-box {
    padding: 0 0;
  }
  .united-states__page .global-market__img {
    order: -1;
  }
}

@media screen and (max-width: 720px) {
  .united-states__page .market-research .expert-profile {
    gap: 0;
  }
  .united-states__page .global-market__box {
    margin-top: 40px;
  }
  .united-states__page .market-challenges .chalange-card .swiper-line {
    top: 63px;
  }
  .united-states__page .consultation-invite__boxes .register-form {
    padding: 68px 0 0 0;
    max-width: 880px;
  }
  .united-states__page .consultation-invite__list {
    padding-top: 0;
  }
  .oae-page .market-challenges .chalange-card .swiper-line {
    top: 63px;
    height: 87px;
  }
  .united-states__page .intro .bottom-content .btn {
    min-width: 275px;
    max-width: 275px;
  }
  .oae-page .our-services .swiper-wrapper {
    margin-top: 0;
  }
  .oae-page {
    .our-services .swiper-slide {
      padding-bottom: 163px;
    }
  }
  .oae-page .market-research .expert-profile .list {
    margin-left: 0;
    margin-top: 0;
  }
}
